<h3>Who are you?</h3>

<label>
  Your First Name
  <input type="text" name="applicant_fname" placeholder="Annie">
</label>

<label>
  Your Last Name
  <input type="text" name="applicant_lname" placeholder="Oakley">
</label>

<label>
  Your Email Address
  <input type="text" name="applicant_email" placeholder="annie.oakley@anniegetyourgun.com">
</label>

<label>
  Are you the owner of this business, or are you filling this out for the owner?
  <input type="radio"> I own this business
  <input type="radio"> I'm filling this out on behalf of the owner
</label>
