<div class="page-header">
  <h1>Siting Your Business</h1>
</div>

<div class="row-fluid">
  <p class="lead">If you&rsquo;re not working out of your home, you will need to pick a location that is zoned to allow businesses like yours to operate.</p>
  <h3>Zoning</h3>
  <p class="lead">Zoning laws limit the types of businesses that can operate within a particular area.</p>
  <p class="lead"><strong>Why?</strong></p>
  <p class="lead">By clustering types of businesses, we can help preserve neighborhoods and share services.</p>
  <hr>
  <p>Think of it this way: zoning makes sure a rubber factory can&rsquo;t open next to a preschool.</p>
  <hr>
  <p>In Santa Cruz, all zones are defined by <a href="http://www.codepublishing.com/CA/SantaCruz/html/SantaCruz24/SantaCruz24.html" target="_blank">title 24 of the City&rsquo;s municipal code</a>.</p>
  <h3>Use &amp; Prior Use</h3>
  <p>While the City actively encourages creative reuse of buildings in town, it is much simpler to locate your business in a commercial space that has a prior use as similar to to one you're proposing.</p>
  <p>If the past use matches your proposed use, it simplifies staff review.</p>
  <p>This strategy will also have implications for the cost of the project, as changing the use of a location may entail additional "impact fees." These will be covered later in this guide.</p>
  <p>For example, if you are opening a restaurant, try to go into a space that previously held a restaurant.</p>

  <hr>

  <h3>Have you already picked out a space for your business?</h3>
  <p class="next">Not yet. <a href="/location/research">Help me choose a site &rarr;</a></p>
  <p class="next">Yes. <a href="/location/check">Check my site's zoning and prior use &rarr;</a></p>
</div>