<div id="location_choose_site">
  <h1>Find a site for your business</h1>
  <p><a href="http://www.SiteMy.Biz">SiteMy.Biz</a> is a helpful tool to find available commercial space in Santa Cruz.</p>

  <label for="site-search-address">You can check a site&#8217;s zoning and prior use by entering the address here:</label>
  <input id="site-search-address" class="input" type="text" name="site-search-address" />
  <input id="site-search-submit" class="button" type="submit" name="button" value="Submit" />
  <p class="micro"><em>Example: 1367 Pacific Avenue</em></p>
  <div id="map-div" style="height: 400px;"></div>
</div><!-- /#location_choose_site -->
