<div id="intro_big_picture">
  <h1>The Big Picture</h1>
  <p>Here's how to start a business in the City of Santa Cruz.</p>
  <ol>
    <li>First, secure a <strong>use permit</strong> from the City&rsquo;s Planning Department. If you&rsquo;re starting a business, even if you're working from home, the City has to approve that use in your location.</li>
    <li>Next, if you&rsquo;re doing any renovations or tenant improvements, get a <strong>building permit</strong> from the City of Santa Cruz Building Department.</li>
    <li>Finally, obtain a <strong>business license</strong> from the City of Santa Cruz Finance Department.</li>
  </ol>
  <p>While that covers most City processes, there are also county, regional, state, and federal regulations that may apply to your business. We&rsquo;ve included tools to help you research and fulfill those requirements, too.</p>
  <p class="next">Before we walk through these steps, know that <a href="/intro/here_to_help">we&rsquo;re here to help &rarr;</a></p>
</div><!-- /#intro_big_picture -->
