<h1>New Zoning District</h1>

<%= form_for(:zoning_district, :url => admin_zoning_districts_path, :html => {:method => :post}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f}%>

  <div class="actions">
    <br />
    <%= f.submit 'Save', :class => 'btn btn-success btn-large' %>
    &nbsp;&nbsp;
    <%= link_to 'Cancel', admin_zoning_districts_path %>
  </div>
<% end -%>