<div class="panel" id="contactPlanningThanks">

  <h1>Thanks!</h1>
  
  <p>Thanks for contacting us. We will get in touch with you within 4 business days.</p>
  
  <p>If you need to speak with someone sooner than that, <a href="hereToHelp">here's how to contact the Planning Department</a>.</p>
  
  <p class="next">How'd we do? <a href="#feedback">Give us some feedback &rarr;</a></p>

</div>