
<div class="panel" id="contactPlanning">

  <h1>Contact Us</h1>
  
  <p>Send the Planning Department your question here, and we'll respond within 4 business days.</p>
  
  <p>If you need to speak with someone sooner than that, <a href="hereToHelp">here's how to contact the Planning Department</a>.</p>
  
  <form method="post" action="#">
  
    <label>
      Your Name
      <input type="text" id="name" placeholder="First Last">
    </label>
  
    <label>
      Your Email Address
      <input type="text" id="email" placeholder="you@domain.com">
    </label>
  
    <label for="subject">
      I have a question about
      <select name="subject" id="subject">
        <option value="">Starting a home-based business</option>
        <option value="">Starting a non-home-based business</option>
        <option value="">Something else</option>
      </select>
    </label>
    
    <label for="comments">
      My question is
      <textarea name="comments" id="comments"></textarea>
    </label>
  
  </form>
  
  <p class="next"><a href="contactPlanningThanks">Send this to the Planning Department &rarr;</a></p>

</div>