<div class="utility" id="feedback">
  <h3>Give us some feedback</h3>
  <p>If you have a moment, we would love to get your thoughts on this site.</p>
  <form method="post" action="#">
    <label>
      How well did we do at answering your questions?
      <select name="mood">
        <option value="happy">Happy &#9786;</option>
        <option value="neutral">Neutral</option>
        <option value="unhappy">Unhappy &#9785;</option>
      </select>
    </label>
    <label>
      What could we have done better?
      <textarea name="suggestions"></textarea>
    </label>
    <label>
      Want us to follow up with you? Enter your email address here:
      <input type="text" name="email" placeholder="you@email.com">
    </label>
    <p class="next"><button>Submit</button></p>
  </form>
</div>