<div class="panel" id="feedbackThanks">

  <h1>Thanks for sharing!</h1>
  
  <p>Thanks, we've received your feedback.</p>
  
  <p>(If they gave an email or phone) We'll follow up with you within one workday.</p>
  
  <p>Thanks for helping us improve OpenCounter!</p>
  
  <p class="next"><a href="#welcome">OpenCounter Home</a></p>

</div>