  <div class="container">

    <div class="branding">
      <h1>OpenCounter</h1>
      <p>Start your business in <span class="city">Santa Cruz, CA</span>.</p>
    </div>
    
    <hr class="visuallyhidden">
    
    <nav class="nav-main">
      <ul>
        <li><a href="/intro" class="section_heading">Welcome</a></li>
        <li data-section="intro">
          <ul>
            <li><a href="/intro_big_picture">The Big Picture</a></li>
            <li><a href="/intro_here_to_help">We're Here To Help</a></li>
          </ul>
        </li>
        <li><a href="/info" class="section_heading">You &amp; Your Business</a></li>
        <li data-section="info">
          <ul>
            <li><a href="/info_applicant">About You</a></li></li>
            <li><a href="/info_business">About Your Business</a></li>
          </ul>
        </li>
        <li><a href="/location" class="section_heading">Location</a></li>
        <li data-section="location">
          <ul>
            <li data-occupancy="home"><a href="/location_home_occ">Work From Home</a></li>
            <li data-occupancy="non-home"><a href="/location_non_home_occ">Work From A Commercial Space</a></li>
            <li data-occupancy="non-home"><a href="/location_non_home_occ_choose_site">Choose Your Site</a></li>
            <li data-occupancy="non-home"><a href="/location_non_home_occ_check_site">Check Your Site</a></li>
          </ul>
        </li>
        <li><a href="/requirements" class="section_heading">Requirements</a></li>
        <li data-section="requirements"> 
          <ul>
            <li><a href="/requirement_use_permit">Use Permit</a></li>
            <li><a href="/requirement_building_permit">Building Permit</a></li>
            <li data-occupancy="non-home"><a href="/requirement_parking">Parking Requirement</a></li>
            <li><a href="/requirement_business_license">Business License</a></li>
            <li><a href="/requirement_local">Other Local Requirements</a></li>
            <li><a href="/requirement_non_local">City, State, and Federal Requirements</a></li>
          </ul>
        </li>
        <li><a href="/summary" class="section_heading">Summary &amp; Next Steps</a></li>
      </ul>

    </nav><!-- /.nav-main -->
    
    <hr class="visuallyhidden">
    <section class="panel">
      <section class="profile">
      </section><!-- /.profile -->

      <hr class="visuallyhidden">

      <section class="content"></section>

    </section><!-- /.panel --> 

    <hr class="visuallyhidden">
    
    <nav class="nav-utility">
      <ul>
        <li><a href="#help">Get Help</a></li>
        <li><a href="#feedback">Give Feedback</a></li>
        <li><a href="#credits">About OpenCounter</a></li>
      </ul>
    </nav><!-- /.nav-utility -->

  </div><!-- /.container -->

<!--  <script type="text/javascript" src="js/lib/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="js/lib/jquery-ui-1.8.22.custom.min.js"></script>
  <script type="text/javascript" src="js/lib/jquery.tinypubsub.js"></script>
  
  <script src='http://mapbox.com/wax/externals/leaflet/leaflet.js' type='text/javascript'></script>
  <script src='http://mapbox.com/wax/dist/wax.leaf.min.js' type='text/javascript'></script>
  <link href='http://mapbox.com/wax/externals/leaflet/leaflet.css' rel='stylesheet' type='text/css' />

  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/calculator.parking.js"></script>
  <script type="text/javascript" src="js/calculator.zoning.js"></script>
  <script type="text/javascript" src="js/data.naics.js"></script>
  
  <script type="text/javascript" src="js/routing.js"></script>
  <script type="text/javascript" src="js/location.js"></script>
  
  <script type="text/javascript">
    $(document).ready(function(){ 
      OC.init();
    });
  </script>
-->
</body>

</html>


