  <div class="container">

    <div class="branding">
      <h1>OpenCounter</h1>
      <p>Start your business in <span class="city">Santa Cruz, CA</span>.</p>
    </div>
    
    <hr class="visuallyhidden">
    
    <div id="nav-main"></div><!-- /.nav-main -->
    
    <hr class="visuallyhidden">
    <section class="panel">
      <div id="profile"></div><!-- /.profile -->

      <hr class="visuallyhidden">

      <div id="content"></div>

    </section><!-- /.panel --> 

    <hr class="visuallyhidden">
    
    <nav class="nav-utility">
      <ul>
        <li><a href="#help">Get Help</a></li>
        <li><a href="#feedback">Give Feedback</a></li>
        <li><a href="#credits">About OpenCounter</a></li>
      </ul>
    </nav><!-- /.nav-utility -->

  </div><!-- /.container -->

<!--  <script type="text/javascript" src="js/lib/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="js/lib/jquery-ui-1.8.22.custom.min.js"></script>
  <script type="text/javascript" src="js/lib/jquery.tinypubsub.js"></script>
  
  <script src='http://mapbox.com/wax/externals/leaflet/leaflet.js' type='text/javascript'></script>
  <script src='http://mapbox.com/wax/dist/wax.leaf.min.js' type='text/javascript'></script>
  <link href='http://mapbox.com/wax/externals/leaflet/leaflet.css' rel='stylesheet' type='text/css' />

  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/calculator.parking.js"></script>
  <script type="text/javascript" src="js/calculator.zoning.js"></script>
  <script type="text/javascript" src="js/data.naics.js"></script>
  
  <script type="text/javascript" src="js/routing.js"></script>
  <script type="text/javascript" src="js/location.js"></script>
  
  <script type="text/javascript">
    $(document).ready(function(){ 
      OC.init();
    });
  </script>
-->
</body>

</html>


