  <div class="container">

    <div class="branding">
      <h1>OpenCounter</h1>
      <p>Start your business in <span class="city">Santa Cruz, CA</span>.</p>
    </div>
    
    <hr class="visuallyhidden">
    
    <div id="nav-main"></div><!-- /.nav-main -->
    
    <hr class="visuallyhidden">
    <section class="panel">
      <div id="profile"></div><!-- /.profile -->

      <hr class="visuallyhidden">

      <div id="content"></div>

    </section><!-- /.panel --> 

    <hr class="visuallyhidden">
    
    <nav class="nav-utility">
      <ul>
        <li><a href="/help">Get Help</a></li>
        <li><a href="/feedback">Give Feedback</a></li>
        <li><a href="/about">About OpenCounter</a></li>
      </ul>
    </nav><!-- /.nav-utility -->

  </div><!-- /.container -->

</body>

</html>


