  <div class="wrapper">

    <!-- HEADER -->
    <header id="header" class="row-fluid">
    
      <div id="branding" class="span4">
        <h1 class="logo">OpenCounter</h1>
        <p class="tagline">Start your business in <span class="city">Santa Cruz, CA</span>.</p>
      </div><!-- /.branding -->

      <div id="profile" class="span4 offset1"></div><!-- /.profile -->

      <div id="help" class="span2"><div class="well well-small">
        <p>Have Questions? <a href="/help" class="btn btn-info">Get Help &rarr;</a></p>
      </div></div><!-- /#help -->

    </header><!-- /#header -->

    <hr class="hidden">

    <!-- NAVIGATION -->
    <div class="row-fluid" id="nav-main"></div><!-- /.nav-main -->
    
    <hr class="hidden">

    <div class="row-fluid">

      <!-- SUBNAVIGATION -->
      <div id="nav-sub" class="span2"></div>
      
      <!-- CONTENT -->
      <div id="content" class="span9"></div>

    </div>

    <hr class="hidden">
    
    <div class="push"></div>

  </div><!-- /.wrapper -->

  <!-- FOOTER -->
  <footer id="footer">
    <p><small>OpenCounter is brought to you by the city of Santa Cruz and Code for America. <a href="/about">Learn more</a>, or <a href="mailto:hello@opencounter.org">give us feedback</a>.</small></p>
  </footer><!-- /.footer -->