<label>
  What will your business be called?
  <input type="text" name="business_name" placeholder="Acme, Inc.">
</label>

<label>
  What will your business do?
  <input type="text" name="business_type" placeholder="SIC/NAICS tool here, with freeform entry">
</label>
<iframe src="http://pdfmongotest.herokuapp.com/calgold?kywd=search" width="450" height="200"></iframe>
<p>(Not sure of your business type? Not finding your business type listed? Simply enter the words "General Business Information" above, or select it from the list.)</p>

<label>
  What is your business's legal structure?
  <select name="business_structure">
    <option value="unknown">I'm not sure / don't know / haven't decided yet</option>
    <option value="individual">an Individual (Sole Proprietorship)</option>
    <option value="general-partnership">a General Partnership (GP)</option>
    <option value="limited-partnership">a Limited Partnership (LP)</option>
    <option value="limited-liability-company">a Limited Liability Company (LLC)</option>
    <option value="limited-liability-partnership">a Limited Liability Partnership (LLP)</option>
    <option value="association">an Unincorporated Association other than a Partnership</option>
    <option value="corporation">a Corporation</option>
    <option value="trust">a Trust</option>
    <option value="copartner">Copartners</option>
    <option value="married">Husband and Wife</option>
    <option value="joint-venture">a Joint Venture</option>
    <option value="domestic-partners">State or Local Registered Domestic Partners</option>
  </select>
</label>

<label>
  Are you the sole owner of this business?
  <input type="checkbox" name="is_sole_owner" value="y" checked="checked"> I'm the only business owner
</label>

<!-- @condition Not the sole owner -->
<table>
  <tr>
    <th>Title/Role</th>
    <th>First &amp; Last Name</th>
  </tr>
  <tr>
    <td><input type="text"></td>
    <td><input type="text"></td>
  </tr>
</table>