<h1>Where will you be working from?</h1>

<label>
  Where will you be working from?
  <select name="is_home_occ">
    <option value="y">I'll be working from home</option>
    <option value="n">My business will be in a space other than my home</option>
  </select>
</label>