<h1>The Big Picture</h1>

<p>Here's how to start a business in the City of Santa Cruz.</p>
<ol>
  <li>First, secure a <strong>use permit</strong> from the City&rsquo;s Planning Department. If you&rsquo;re starting a business, even if you're working from home, the City has to approve that use in your location. <a href="#">Skip to use permit helper &rarr;</a></li>
  <li>Next, if you&rsquo;re doing any renovations or tenant improvements, get approval from the City of Santa Cruz Building Department. <a href="#">Skip to building permit helper &rarr;</a></li>
  <li>Finally, obtain a <strong>business license</strong> from the City of Santa Cruz Finance Department. <a href="#">Skip to business license &rarr;</a></li>
</ol>
<p>While that covers most City processes, there are also county, regional, state, and federal regulations that may apply to your business. We&rsquo;ve included tools to help you research and fulfill those requirements, too.</p>

<p class="next">Before we walk through these steps, know that <a href="#">we&rsquo;re here to help &rarr;</a></p>