<h1>Siting Your Business</h1>

<p>If you&rsquo;re not working out of your home, you will need to pick a location that is zoned to allow businesses like yours to operate.</p>

<h3>Zoning</h3>

<p>Zoning laws limit the types of businesses that can operate within a particular area.</p>

<p>Why? By clustering types of businesses, we can help preserve neighborhoods and share services.</p>

<p>Think of it this way: zoning makes sure a rubber factory can&rsquo;t open next to a preschool.</p>

<p>In Santa Cruz, all zones are defined by title 24 of the City&rsquo;s municipal code.</p>

<h3>Use &amp; Prior Use</h3>

<p>A good tip for finding a location that permits your use is to pick a space with a prior use as similar to yours as possible.</p>

<p>This will make it more likely that your use will be approved.</p>

<p>If the past use matches your use, the zoning will match and parking will likely not be an issue.</p>

<p>For example, if you are opening a restaurant, try to go into a space that previously held a restaurant.</p>

<p>If you are opening a yoga studio, try to go into, say, a karate studio.</p>

<h3>Types of Use Permits</h3>

<p>The type of use permit your business needs depends on whether and how your zoning district permits your use.</p>

<h5>Principally Permitted Uses</h5>

<p>If the zoning code specifically allows your type of business to operate at the site you chose, great!</p>

<p>All you need is a Zoning Clearance. This is the simplest form of a use permit, and is typically issued the same day, with minimal review.</p>

<h5>Non-Principally Permitted Uses</h5>

<p>If your use is not principally permitted, you will need either an Administrative Use Permit or a Special Use Permit.</p>

<dl>
  <dt>Administrative Use Permit (AUP)</dt>
  <dd>This kind of application requires more staff analysis, and more information from the applicant. These permits entail a public hearing before the Zoning Administrator, and can take approximately 6-8 weeks to work their way through to completion.</dd>
</dl>

<dl>
  <dt>Special Use Permit (SUP)</dt>
  <dd>Requires a high level of scrutiny, typically due to the size of the project and its impact on the neighborhood. These applications go to Planning Commission, whose decision is ratified by the City Council. SUPs take 2-3 months.</dd>
</dl>

<h5>Prohibited Uses</h5>

<p>If your use is explicitly prohibited, you should probably choose a different site for your business.</p>

<p>The alternative, changing the zoning for that property, is very difficult, rare, and can take years. It is not recommended, but you are welcome to contact the Planning Department for more information.</p>

<label>
  Have you already picked out a space for your business?
  <select name="has_business_address">
    <option value="y">Yes</option>
    <option value="n">No</option>
  </select>
</label>

