<h1>Check Your Business's Zoning</h1>

<p>You've told us that your business is of type <strong>[business type]</strong>.</p>

<form>

<!-- @condition Already has a location picked out -->
<label>
  Business Address
  <input type="text" name="business_address_street">
  <input type="text" name="business_address_detail">
  <input type="text" name="business_address_city">
  <input type="text" name="business_address_state">
  <input type="text" name="business_address_zip">
</label>

<input type="submit" value="Check Zoning">

</form>