<h1>Payroll Tax Registration</h1>

<p>Will your business have a payroll? (more than one employee)</p>

<!-- Begin Payroll Tax Registration -->
<!-- CONDITION: Business has 2+ employees -->

<label>
  Owner 1 name:
  <input type="text">
</label>

<label>
  Owner 2 name:
  <input type="text">
</label>

<label>
  Owner 1 Social Security:
  <input type="text">
</label>

<label>
  Owner 2 Social Security:
  <input type="text">
</label>

<label>
  Owner 1 CA Drivers License:
  <input type="text">
</label>

<label>
  Owner 2 CA Drivers License:
  <input type="text">
</label>

<label>
  Ownership start date:
  <input type="text">
</label>

<label>
  Secretary of State Corp / LLC / LP ID number:
  <input type="text">
</label>

<label>
  Business mailing address (if different from primary):
  <input type="text">
</label>

<label>
  Business mailing address phone number (if different from primary):
  <input type="text">
</label>

<label>
  If your business has multiple CA physical locations, enter them (except primary location) here, separated by commas:
  <textarea></textarea>
</label>

<label>
  Indicate the first quarter &amp; year that wages exceeded $100:
  <select id="quarters">
    <option value="Q1">Q1, January-March   </option>
    <option value="Q2">Q2, April-June      </option>
    <option value="Q3">Q3, July-September  </option>
    <option value="Q4">Q4, October-December</option>
  </select>
</label>

<label>
  Year:
  <input type="text">
</label>

<label>
  First payroll date:
  <input type="text">
</label>


<label>
  Have you ever owned or been a principal owner in a business registered with EED?
  <select name="is_eed_business_owner">
    <option value="y">Yes</option>
    <option value="n">No</option>
  </select>
</label>

<!-- @condition is_eed_business_owner == y -->
<label>
  Former EED account number:
  <input type="text">
</label>

<!-- @condition is_eed_business_owner == y -->
<label>
  Former business name:
  <input type="text">
</label>

<!-- @condition is_eed_business_owner == y -->
<label>
  Former business address:
  <input type="text">
</label>

<label>
  This is an application for a...
  <select id="application_type">
    <option value="new">New business</option>
    <option value="hired">Business that has hired employees for the first time</option>
    <option value="purchased">Purchased business</option>
  </select>
</label>

<!-- @condition application_type == purchased -->
<label>
  Did you purchase all or part of the business?
  <select name="portion_of_business_purchased">
    <option value="all">I purchased all of the business</option>
    <option value="part">I purchased part of the business</option>
  </select>
</label>

<!-- @condition application_type == purchased -->
<label>
  Previous owner name:
  <input type="text">
</label>

<!-- @condition application_type == purchased -->
<label>
  Previous business name:
  <input type="text">
</label>

<!-- @condition application_type == purchased -->
<label>
  Previous EED account number:
  <input type="text">
</label>

<!-- @condition application_type == purchased -->
<label>
  Purchase price:
  <input type="text">
</label>

<!-- @condition application_type == purchased -->
<label>
  Date of transfer:
  <input type="text">
</label>

<label>
  Number of California employees:
  <input type="text">
</label>

<label>
  Is any employee one of the below? Select all that apply.
  <input type="checkbox" name="spouse" value="Spouse"> Employer's spouse
  <input type="checkbox" name="child" value="Child"> Employer's minor child (under 18)
  <input type="checkbox" name="parent" value="Parent"> Employer's parent 
</label>

<!--<label>Taxpayer type:</label>--><!--NOTE-->
<!--NOTE: I think this is just the incorporation status. Can you confirm?-->

<label>
  Employer type:
  <select id="employer_type">
    <option value="commercial">Commercial</option>
    <option value="maritime">Pacific maritime</option>
    <option value="fishing">Fishing boat</option>
  </select>
</label>

<label>
  Select the category that represents the greatest portion of your sales or revenue:
  <!--NOTE: This may be able to be auto-filled based on the NAICS code category selected earlier-->
  <select id="industry_type">
    <option value="commercial">Services</option>
    <option value="maritime">Retail</option>
    <option value="wholesale">Wholesale</option>
    <option value="manufacture">Manufacturing</option>
    <option value="prof">Professional employer organization</option>
    <option value="temp">Temp services</option>
    <option value="leasing">Leasing employer</option>
    <option value="other">Other</option>
  </select>
</label>

<!--NOTE: conditional field below. If "other", specify details by text box-->
<label>Please specify:</label>
<input type="text">
<!--End conditional field-->

<label>
  Name of contact person for business:
  <input type="text">
</label>

<label>
  Address of contact person for business:
  <input type="text">
</label>

<label>
  Phone number of contact person for business:
  <input type="text">
</label>

<label>
  Email of contact person for business:
<input type="text">
</label>

<!-- NOTE: I'm still working out a substitute tax if the person is working alone -->
<!-- End Payroll Tax Registration -->