
<form method="post" action="/code-search">

  <label for="query">What type of business?</label>
  <input type="search" name="query"  placeholder="e.g. yoga studio">
  <input type="submit" value="Submit"/>

</form>


<% if @naics %>
  <p>NAICS Codes</p>
  <%@naics.each do |r|%>
    <p><%=r.code%> | <%=r.description%></p>
  <%end%>
<%end%>

<% if @sic %>
  <p>SIC Codes</p>
  <%@sic.each do |r|%>
    <p><%=r.code%> | <%=r.description%></p>
  <%end%>
<%end%>


