<p>This is your business' registration with the Secretary of State. It needs to be done!</p>

<!-- Begin Sec. State registration -->
          <!--These fields are universal for all business types-->
          <input for="">Name of Agent for process of service:</label>
          <input type="text">

          <input for="">Address of Agent for process of service:</label>
          <input type="text">
          <!--End universal fields-->

          <!--This field apply to Corporations-->
          <input for="">Number of shares your business is authorized to issue:</label>
          <input type="text">
          <!--End corporation field-->

          <!--These fields applies to LLCs-->
          <label>How many people will manage your LLC?</label>
          <select id="managers">
            <option value="one">One manager</option>
            <option value="multiple">More than one manager</option>
            <option value="all">All LLC members</option>
          </select>
          <!--End LLC fields-->
        
          <!--These fields applies to LLPs-->
          <select id="biztype">
            <option value="architecture">Architecture</option>
            <option value="law">Law</option>
            <option value="engineering">Engineering</option>
            <option value="accounting">Public Accountancy</option>
            <option value="surveying">Land Surveying</option>
            <option value="other">Other</option>
          </select>

          <!--NOTE: Conditional field below. If "other", specify related LLP-->
          <input for="">Please give the full name of a related LLP. A related LLP is a CA registered LLP that practices public accountancy or law, or is a foreign LLP.</label>
          <input type="text">
          <!--End conditional field-->
          <!--End LLP fields-->

          <!--This field applies to LPs-->
          <input for="">Address of California initial designated office:</label>
          <input type="text">
          <!--End LP field-->
                <!-- End Sec. State registration -->
