<p>This is your business's registration with the Secretary of State. It needs to be done!</p>

<!-- Begin Sec. State registration -->

<!-- @applies all business types-->
<label>
  Name of Agent for process of service:
  <input type="text">
</label>

<!-- @applies all business types-->
<label>
  Address of Agent for process of service:
  <input type="text">
</label>

<!-- @applies corporations -->
<label>
  Number of shares your business is authorized to issue:
  <input type="text">
</label>

<!-- @applies LLCs -->
<label>
  How many people will manage your LLC?
  <select id="managers">
    <option value="one">One manager</option>
    <option value="multiple">More than one manager</option>
    <option value="all">All LLC members</option>
  </select>
</label>

<!-- @applies LLPs -->
<label>
  What is your type of LLP?
  <select id="llp_business_type">
    <option value="architecture">Architecture</option>
    <option value="law">Law</option>
    <option value="engineering">Engineering</option>
    <option value="accounting">Public Accountancy</option>
    <option value="surveying">Land Surveying</option>
    <option value="other">Other</option>
  </select>
</label>

<!-- @applies LLPs and llp_business_type == other -->
<label>
  Please give the full name of a related LLP. A related LLP is a CA registered LLP that practices public accountancy or law, or is a foreign LLP.
  <input type="text">
</label>

<!-- @applies LPs -->
<label>
  Address of California initial designated office:
  <input type="text">
</label>

<!-- End Sec. State registration -->
