<ul>
  <li><a href="/intro" class="section_heading">Welcome</a></li>
  <li data-section="intro">
    <ul>
      <li><a href="/intro/big_picture">The Big Picture</a></li>
      <li><a href="/intro/here_to_help">We're Here To Help</a></li>
    </ul>
  </li>
  <li><a href="/info" class="section_heading">You &amp; Your Business</a></li>
  <li data-section="info">
    <ul>
      <li><a href="/info/applicant">About You</a></li></li>
  <li><a href="/info/business">About Your Business</a></li>
  </ul>
</li>
<li><a href="/location" class="section_heading">Location</a></li>
<li data-section="location">
  <ul>
    <li data-occupancy="home"><a href="/location/home">Work From Home</a></li>
    <li data-occupancy="non-home"><a href="/location/commercial">Work From A Commercial Space</a></li>
    <li data-occupancy="non-home"><a href="/location/research">Choose Your Site</a></li>
    <li ><a href="/location/check">Check Your Site</a></li>
  </ul>
</li>
<li><a href="/requirements" class="section_heading">Requirements</a></li>
<li data-section="requirements"> 
  <ul>
    <li data-occupancy="non-home"><a href="/requirement/city/use_permit">Use Permit</a></li>
    <li data-occupancy="non-home"><a href="/requirement/city/parking">Parking Requirement</a></li>
    <li><a href="/requirement/city/building_permit">Building Permit</a></li>
    <li><a href="/requirement/city/business_license">Business License</a></li>
    <li data-occupancy="non-home"><a href="/requirement/city/bida">Business Improvement District Assessment</a></li>
    <li data-occupancy="non-home"><a href="/requirement/city/ehs">Environmental Health &amp; Safety</a></li>
    <li data-occupancy="non-home"><a href="/requirement/city/sign">Sign</a></li>
    <li data-occupancy="non-home"><a href="/requirement/city/tif">Traffic Impact Fee</a></li>
    <li data-occupancy="non-home"><a href="/requirement/city/utility_services">Utility Services</a></li>
    <li data-occupancy="non-home"><a href="/requirement/city/wwd">Waste Water Discharge</a></li>
    <li><a href="/requirement/county/fbn">Fictitious Business Name</a></li>
    <li><a href="/requirement/state/incorporation">Incorporation</a></li>
    <li><a href="/requirement/state/sellers_permit">Seller's Permit</a></li>
    <li><a href="/requirement/state/payroll_tax">Payroll Tax</a></li>
    <li data-occupancy="non-home"><a href="/requirement/state/abc">Alcoholic Beverage License</a></li>
  </ul>
</li>
<li><a href="/summary" class="section_heading">Summary &amp; Next Steps</a></li>
</ul>
