<div class="well well-small">

<!--
  <div class="row-fluid">
    <div class="span6">
      <p>Welcome back, Ruthie. <a href="#" class="btn btn-info">Jump back in &rarr;</a></p>
    </div>
    <div class="span6">
      <p>Not You? <a href="#" class="btn btn-info">Get started &rarr;</a></p>
    </div>
  </div>
-->
  <div class="row-fluid">
    <div class="span6">
      <p>New Here? <a href="/intro" class="btn btn-info">Get started &rarr;</a></p>
    </div>
    <div class="span6">
      <p>Returning? <a href="#" class="btn btn-info">Jump back in &rarr;</a></p>
    </div>
  </div>
</div>