<ol class="subnav nav nav-tabs nav-stacked" data-section="intro">
  <li><a href="/intro/big_picture">The Big Picture</a></li>
  <li><a href="/intro/here_to_help">We're Here To Help</a></li>
</ol>

<ol class="subnav nav nav-tabs nav-stacked" data-section="info">
  <li><a href="/info/applicant">About You</a></li></li>
  <li><a href="/info/business">About Your Business</a></li>
</ol>

<ol class="subnav nav nav-tabs nav-stacked" data-section="location">
  <li data-show="home"><a href="/location/home">Work From Home</a></li>
  <li data-show="commercial"><a href="/location/commercial">Work From A Commercial Space</a></li>
  <li data-show="commercial"><a href="/location/research">Choose Your Site</a></li>
  <li><a href="/location/check">Check Your Site</a></li>
</ol>

<ol class="subnav nav nav-tabs nav-stacked" data-section="requirements">
  <li id="planning_permit"><a href="/requirements/city/planning_permit">Planning Permit</a></li>
  <li id="parking" data-show="commercial"><a href="/requirements/city/parking">Parking</a></li>
  <li id="building_permit" data-show="commercial"><a href="/requirements/city/building_permit">Building Permit</a></li>
  <li id="business_license"><a href="/requirements/city/business_license">Business License</a></li>
  <li id="business_improvement_district" data-show="bid"><a href="/requirements/city/business_improvement_district">Business Improvement District Assessment</a></li>
  <li id="environmental_health_safety" data-show="food"><a href="/requirements/city/environmental_health_safety">Environmental Health &amp; Safety</a></li>
  <li id="sign_permit" data-show="commercial"><a href="/requirements/city/sign_permit">Sign Permit</a></li>
  <li id="traffic_impact_fee" data-show="commercial"><a href="/requirements/city/traffic_impact_fee">Traffic Impact Fee</a></li>
  <li id="utility_services" data-show="commercial"><a href="/requirements/city/utility_services">Utility Services</a></li>
  <li id="waste_water_discharge" data-show="food"><a href="/requirements/city/waste_water_discharge">Waste Water Discharge</a></li>
  <li id="admissions_tax" data-show="gym"><a href="/requirements/city/admissions_tax">Admissions Tax</a></li>
  <li id="fictitious_business_name" data-show="fbn"><a href="/requirements/county/fictitious_business_name">Fictitious Business Name</a></li>
  <li id="sellers_permit" data-show="retail"><a href="/requirements/state/sellers_permit">Seller's Permit</a></li>
  <!-- <li id="payroll_tax"><a href="/requirements/state/payroll_tax">Payroll Tax</a></li> -->
  <li id="alcoholic_beverage_control" data-show="food"><a href="/requirements/state/alcoholic_beverage_control">Alcoholic Beverage License</a></li>
  <li id="incorporation"><a href="/requirements/state/incorporation">Incorporation</a></li>
</ol>
