<ol class="subnav nav nav-tabs nav-stacked" data-section="intro" style="display: none;">
  <li><a href="/intro/big_picture">The Big Picture</a></li>
  <li><a href="/intro/here_to_help">We're Here To Help</a></li>
  <li><a href="/intro/sign_in">Get Started</a></li>
</ol>

<ol class="subnav nav nav-tabs nav-stacked" data-section="info" style="display: none;">
  <li><a href="/info/applicant">About You</a></li></li>
  <li><a href="/info/business">About Your Business</a></li>
</ol>

<ol class="subnav nav nav-tabs nav-stacked" data-section="location" style="display: none;">
  <li data-show="home"><a href="/location/home">Work From Home</a></li>
  <li data-show="commercial"><a href="/location/commercial">Work From A Commercial Space</a></li>
  <li data-show="commercial"><a href="/location/research">Choose Your Site</a></li>
  <li><a href="/location/check">Check Your Site</a></li>
</ol>

<ol class="subnav nav nav-tabs nav-stacked" data-section="requirements">
  <!-- options are generated in navigation.js from requirements in the database -->
</ol>
