/*
 * OpenCounter Demo Styles
 */


/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}


/* ==========================================================================
   Base
   ========================================================================== */

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
    font-family: 'PT Sans', sans-serif;
    color: #222;
}


h1,
h2,
h3,
h4,
h5,
h6 {
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* ==========================================================================
   Links
   ========================================================================== */

a {
    color: #33b6e6;
}

a:visited {
    color: #147aa0;
}

a:hover {
    color: #147aa0;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}


/* ==========================================================================
   Typography
   ========================================================================== */

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: "";
    content: none;
}

small {
    font-size: 85%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* ==========================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}


/* ==========================================================================
   Embedded content
   ========================================================================== */

img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
    overflow: hidden;
}


/* ==========================================================================
   Figures
   ========================================================================== */

figure {
    margin: 0;
}


/* ==========================================================================
   Forms
   ========================================================================== */

form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label {
    cursor: pointer;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
input {
    line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}


/* ==========================================================================
   Tables
   ========================================================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}


/* ==========================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Primary styles.
   Author: Ruthie BenDor
   ========================================================================== */

body {
  background: #DDD;
  overflow: scroll;
}

.container {
  position: relative;
  overflow: auto;
}

/* --- Profile --- */

.profile .profile-toggle {
  background: #0F0;
  position: fixed;
  right: 10%;
  top: 0;
  z-index: 50000;
  margin: 0;
  background: #1791be;
  padding: 0.1em 10px;
  border-radius: 0 0 0.25em 0.25em;
  font-size: 1.5em;
}

.profile .profile-toggle:before {
  content: "";
  display: block;
  border-radius: 50%;
  border-color: #FFF;
}

.profile .profile-toggle:hover {
  background: #FFF;
  cursor: pointer;
}

.profile .profile-contents {
  display: none;
}

/* --- Branding --- */

.branding {
  background: #33B6E6;
  padding: 1em 5%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.branding h1 {
  display: inline-block;
  width: 209px;
  height: 38px;
  background: transparent url(../img/opencounter_logo.png);
  text-indent: -99em;
  margin: 0;
}

.branding p {
  margin: 0.6em 0 0 1em;
  display: inline-block;
  font-size: 1em;
  vertical-align: top;
}

.branding .city {
  border-bottom: 1px solid #1791be;
}

/* --- Main Navigation --- */

.nav-main {
  position: fixed;
  width: 20%;
  left: 5%;
  top: 15%;
  height: 100%;
  z-index:1;
}

.nav-main ul {
  overflow: auto;
  position: relative;
}

.nav-main li {
  clear: both;
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
}

/* Links */
.nav-main a {
  color: #666;
  display: block;
  margin-left: 1em;
  padding: 0.5em 0 0.5em 2em;
  text-decoration: none;
  text-transform: uppercase;
}

/* Rings */
.nav-main a:before,
.nav-main a:after {
  border-width: 0.5em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  content: "";
  display: block;
  float: left;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* Outer ring */
.nav-main a:before {
  background: #FFF;
  height: 2em;
  left: 0.25em;
  margin-top: -1em;
  position: absolute;
  top: 50%;
  width: 2em;
}

/* Inner ring */
.nav-main a:after {
  background-color: #999;
  height: 1em;
  left: 0.75em;
  margin-top: -0.5em;
  position: absolute;
  top: 50%;
  width: 1em;
}

/* On hover, change inner ring color */
.nav-main a:hover:after {
  background-color: #33B6E6;
}

/* Sub nav rings */
.nav-main ul ul a:before {
  background: transparent;
}

/* Current status */
.nav-main .current a:after {
  background-color: #33B6E6;
}

/* --- Utility Navigation --- */

.nav-utility {
  position: fixed;
  background: #1791be;
  bottom: 0;
  left: 5%;
  width: 20%;
  border-radius: 0.25em 0.25em 0 0;
  -webkit-border-radius: 0.25em 0.25em 0 0;
  z-index: 10;
}

.nav-utility ul {
  padding: 1em 0;
}

.nav-utility a {
  color: #daf2fa;
  text-decoration:none;
  border-bottom:1px solid #daf2fa;
  margin-left: 3em;
}

/* --- Panels --- */

.panel {
  margin-left: 30%;
  margin-right: 5%;
}

.panel .content > div {
  font-size: 1.2em;
  position: relative;
  padding: 1em;
  margin: 15% 0 5% 0;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.panel .content > div:before,
.panel .content > div:after {
  content:"";
  position:absolute;
  z-index:-2;
}

.panel .content > div:before {
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

.panel .content > div h1 {
  font-size: 3em;
  margin: 0;
}

/* --- Forms --- */

label {
  display: block;
  border-left: 5px solid #EEE;
  padding: 0.5em 0 0.5em 1em;
  margin: 1em 0;
}

label input,
label select {
  display: block;
}

label input.radio {
  display: inline-block;
}

/* --- Next --- */

.next {
  background: #e9f7fc;
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: 1.25em;
}

.drawer {
  border-left: 10px solid #EEE;
  padding: 0.5em 1em;
}

/* --- JQuery UI Autocomplete --- */

.ui-autocomplete {
  background: #fff;
  width:auto!important;
  border:3px solid #ddd;
  
}


/* ==========================================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}



/* ==========================================================================
   Helper classes.
   Please define your styles before this section.
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}