<div id="about">
  <h1>About OpenCounter</h1>
  
  <p>OpenCounter is the result of a collaboration between the City of Santa Cruz, CA and Code for America.</p>
  
  <p>Please note that OpenCounter is intended to supplement, not replace, advice from Planning Department staff.</p>
  <p>Though we do our best to give you accurate information, additional information regarding your business, the property, or your plans may alter the Planning Department’s determination or advice on how to proceed.</p>
</div><!-- /#credits -->
