<div class="page-header">
  <h1>About OpenCounter</h1>
</div>

<div class="row-fluid">
  <div class="span6">
    <p class="lead">OpenCounter is the result of a collaboration between the City of Santa Cruz, CA and Code for America.</p>
  </div>
  <div class="span6">
    <h3 class="small">Disclaimer</h3>
    <p>Please note that OpenCounter is intended to supplement, not replace, advice from Planning Department staff.</p>
    <p>Though we do our best to give you accurate information, additional information regarding your business, the property, or your plans may alter the Planning Department&rsquo;s determination or advice on how to proceed.</p>
  </div>
</div>
