<div class="page-header">
  <h1>Get Help</h1>
</div>

<div class="row-fluid">
  <div>
    <div class="user_message"></div>
    <div class="control-group">
      <label for="help_query" class="lead">Your question or comment:</label>
      <textarea name="help_query" class=""></textarea>
    </div>
    

    <div class="control-group">
      We'll call you at <input type="text" name="applicant_phone" value="" placeholder="(###) ###-####">
    </div>

    <div class="control-group">
      We'll email you at <input type="text" name="applicant_email" value="" placeholder="youraddress@email.com">
    </div>
    
    <p class="lead">We'll include everything you've told us so far</p>
    <div class="well" style="display:none;">
      @TODO
    </div>

    <hr />
    <div class="well">
      <a class="btn btn-large btn-info" id="sendHelpEmail">Send to Planning &rarr;</a>
    </div>
  </div>
</div>