<div class="page-header">
  <h1>Tell us about yourself.</h1>
</div>

<div class="row-fluid">
  <div class="span6">
    <p class="lead">The rest of this guide is tailored to you and your business.</p>
    <p class="lead">To make sure we're asking the right questions, we first need to know if you're the owner of this business, or if you're filling this out on the owner&rsquo;s behalf.</p>
  </div>
  <div class="span6">
    <div class="form-actions">
      <p class="next lead"><a href="/info/applicant" class="submit btn btn-large" data-answer="true" data-field-key="1234343" name="is_owner">I own this business &rarr;</a></p>
      <p class="next lead"><a href="/info/applicant" class="submit btn btn-large" data-answer="false" name="is_owner">I&rsquo;m filling this out on the owner&rsquo;s behalf  &rarr;</a></p>
    </div>
  </div>
</div>