<div class="page-header">
  <h1>Tell us about yourself.</h1>
</div>

<div class="row-fluid">
  <div class="span8">
    <p class="lead">The rest of this guide is tailored to you and your business.</p>
    <p>Are you the owner of this business, or are you filling this out on the owner&rsquo;s behalf?</p>
    <p class="next"><a href="/info/applicant" class="submit" data-answer="true" data-field-key="1234343" name="is_owner">I own this business &rarr;</a></p>
    <p class="next"><a href="/info/applicant" class="submit" data-answer="false" name="is_owner">I&rsquo;m filling this out on the owner&rsquo;s behalf  &rarr;</a></p>
  </div>
</div>