<div id="info">
  <h1>Tell us about yourself.</h1>
  <p>The rest of this guide is tailored to you and your business.</p>

  <h3>Are you the owner of this business, or are you filling this out on the owner's behalf?</h3>

  <p class="next"><a href="/info/applicant" class="submit" data-answer="true" name="is_owner">I own this business &rarr;</a></p>
  <p class="next"><a href="/info/applicant" class="submit" data-answer="false" name="is_owner">I&rsquo;m filling this out on the owner&rsquo;s behalf</a></p>

</div><!-- /#info -->
