<div class="page-header">
  <h1>Business Location</h1>
</div>

<div class="row-fluid">
  <div class="span12">
    <p class="lead">The rules are different for work-from-home businesses and those that operate out of commercial locations. Please indicate whether <%= (answers.is_owner === "true") ? "you" : "the owner" %> will be:</p>
    
<!--
    <hr>
    
    <% if (answers.location_type) { %>
    <p class="lead">You&rsquo;ve told us that <%= (answers.is_owner === "true") ? "your" : "this" %> business will operate 
      <% if (answers.location_type == "home") { %>
        out of <%= (answers.is_owner === "true") ? "your" : "the owner's" %> home.
      <% } else { %>
        from a commercial location.
      <% } %>
    </p>
    <% } else { %>
    <p class="lead">You haven't told us where this business will operate from.</p>
    <% } %>
-->

    <div class="form-submit">
      <% if (answers.location_type) { %>
<!--      <p class="lead">Change your mind?</p> -->
      <% } else { %>
<!--      <p class="lead">Where will <%= (answers.is_owner === "true") ? "your" : "this" %> business operate from?</p> -->
      <% } %>
      <p class="next lead"><a href="/location/home"  data-answer="home" name="location_type" class="btn btn-large btn-info">Working from home &rarr;</a></p>
      <p class="next lead"><a href="/location/commercial" data-answer="commercial" name="location_type" class="btn btn-large btn-info">Working out of a commercial space &rarr;</a></p>
    </div>
  </div>
</div>