<div class="page-header">
  <% if (answers.is_owner === "true") { %>
  <h1>Your business&rsquo; requirements</h1>
  <% }else{ %>
  <h1>This business&rsquo;s requirements</h1>
  <% } %>
</div>

<div class="row-fluid">
  <div class="span12">
    <p class="lead">Based on what you've told us about your business, let's walk through all of the requirements.</p>
  </div>
</div>

<div class="row-fluid">
  <% if ((!answers.applicant_first_name) || (!answers.business_name) || (!answers.location_type)) { %>
  <div class="well span12 alert alert-error">
    <p class="lead">Before we can walk you through the requirements that apply to your business, we'll need some basic information.</p>
    <ul class="lead">
    <% if (!answers.applicant_first_name) { %>
      <li>You haven't told us about yourself or the business owner. <a href="/info/applicant">About you &rarr;</a></li>
    <% } %>
    <% if (!answers.business_name) { %>
      <li>You haven't told us about your business. <a href="/info/business">About your business &rarr;</a></li>
    <% } %>
    <% if (!answers.location_type) { %>
      <li>You haven't told us whether you'll be working from home or a commercial space. <a href="/location">Your business's location &rarr;</a></li>
    <% } %>
    </ul>

  <% } else { %>
  <div class="span12">
    <hr />
    <div class="form-actions">
      <p class="next lead"><a class="submit btn btn-large" href="/requirements/city/planning_permit">Planning permits &rarr;</a></p>
    </div>
  <% } %>

  </div>
</div>
