<div id="summary">
  <h1>Summary</h1>
  <p>Thank you for answering all of our questions.</p>
  <p>Based on what you&rsquo;ve told us, we believe [if owner]your[else]this[/if] business needs to complete the following paperwork:</p>

  <h3>Overview</h3>
  <div class="statistics">
    Total forms: [total_forms]
    Total fees: $[total_fees]
  </div>
  
  <h3>Breakdown</h3>
  <table>
    <thead>
      <tr>
        <th>Task &amp; Fee</th>
        <th>Why?</th>
        <th>How?</th>
      </tr>
    </thead>
    
    <!-- Owner Agent -->
    <% if (!answers.is_owner) { %>
    <tr>
      <td colspan="3">
        <p>You haven't told us whether you're the owner or the owner's agent. <a href="/info">Go back &rarr;</a></p>
      </td>
    </tr>
    <% } elseif ((answers.is_owner) && (answers.is_owner !== "true")) { %>
    <tr>
      <td>
        <p class="task">Register as the <strong>Owner Agent</strong>.</p>
        <p class="fee">$0</p>
      </td>
      <td>
        <p>You&rsquo;ve said that you are completing this application on <%= answers.owner_first_name %> <%= answers.owner_last_name %>&rsquo;s behalf. In order for the City of Santa Cruz to issue business-related permits to you, <%= answers.owner_first_name %> <%= answers.owner_last_name %> must give their written approval. This document serves as the City&rsquo;s authorization to issue permits to you.</p>
      </td>
      <td>
        <ol>
          <li>Download and print the <a href="/assets/pdf/city/owner-agent.pdf">owner agent form</a></li>
          <li>Fill it out with the <a href="#">information you provided</a>.</li>
          <li>Notarize it. The city clerk is a notary public.</li>
          <li>Submit it to the Planning Department.</li>
        </ol>
      </td>
    </tr>
    <% } %>

    <!-- Use Permit -->
    <% if (!answers.location_type) { %>
    <tr>
      <td colspan="3">
        <p>You haven&rsquo;t told us where you&rsquo;ll be working from. <a href="/location">Go back &rarr;</a></p>
      </td>
    </tr>
    <% } else { %>
    <%    if (answers.location_type === "home") { %>
    <tr>
      <td>
        <p class="task">Get a <strong<%= answers.required_permit %></strong>.</p>
        <p class="fee">[$221] <a href="#">(how was this calculated?)</a></p>
      </td>
      <td>
        <p>You&rsquo;ve said that you are working from home and that your business complies with the restrictions on work-from-home businesses, so you will need a zoning clearance rather than a use permit.</p>
      </td>
      <td>
        <ol>
          <li>Download and print the <a href="#">zoning clearance form</a>.</li>
          <li>Fill it out with the <a href="#">information you provided</a>.</li>
          <li>Submit it to the Planning Department.</li>
        </ol>
      </td>
    </tr>
    <%    } elseif (answers.location_type === "commercial") { %>
    <tr>
      <td>
        <p class="task">Get a <strong<%= answers.required_permit %></strong>.</p>
        <p class="fee">[$221] <a href="#">(how was this calculated?)</a></p>
      </td>
      <td>
        <p data-show="commercial">You&rsquo;ve said that the business is a <%= answers.SIC_sic_name %> (SIC code <%= answers.SIC_sic_code %>) and you want to site it at <%= answers.business_physical_address_street %>, which is zoned [zoning]. This is a [principally permitted] use, so you will need a <%= answers.required_permit %>.</p>
      </td>
      <td>
        <ol>
          <li>Download and print the <a href="#">[zoning clearance / use permit] form</a>.</li>
          <li>Fill it out with the <a href="#">information you provided</a>.</li>
          <li>[Submit it to the Planning Department. / Make an appointment with a city planner.]</li>
        </ol>
      </td>
    </tr>
    <%    } else { %>
    <tr>
      <td colspan="3">Oops, something's gone wrong. (Developer: answers.location_type = <%= answers.location_type %>.)</td>
    </tr>
    <%    } %>
    <% } %>

    <tr>
      <td>
        <p class="task">Get a <strong>Fire Inspection</strong>.</p>
        <p class="fee">$90.00 <a href="#">(how was this calculated?)</a></p>
      </td>
      <td>
        <p>You've said you're working from home and that your business complies with the restrictions on work-from-home businesses, so you'll need a fire inspection.</p>
      </td>
      <td>
        <ol>
          <li>[How does one arrange a fire inspection?]</li>
        </ol>
      </td>
    </tr>

    <tr>
      <td>
        <p class="task">Get a <strong>Building Permit</strong>.</p>
        <p class="fee">Fee varies</p>
      </td>
      <td>
        <p>You've said you plan to do construction, renovation, or tenant improvement, so you'll need a building permit to ensure compliance with building codes, verified by inspection services.</p>
      </td>
      <td>
        <ol>
          <li>Download and print the <a href="#">building permit</a> form.</li>
          <li>Fill it out with the <a href="#">information you provided</a>.</li>
          <li>Make an appointment with a city planner, who will direct you to the Building department.</li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>
        <p class="task">Get a <strong>Business License</strong>.</p>
        <p class="fee">$145.15 <a href="#">(how was this calculated?)</a></p>
      </td>
      <td>Your business, [business_name], is located at [business_address], which is within the Santa Cruz city limits, so you are required to have a City of Santa Cruz Business License Tax Certificate.</td>
      <td>
        <ol>
          <li>Download and print the <a href="#">business license tax</a> form.</li>
          <li>Fill it out with the <a href="/helper/city/business_license">information you provided</a>.</li>
          <li></li>
        </ol>
      </td>
    </tr>

    <tr>
      <td>
        <p class="task"></p>
        <p class="fee">$ <a href="#">(how was this calculated?)</a></p>
      </td>
      <td></td>
      <td>
        <ol>
          <li></li>
        </ol>
      </td>
    </tr>

  </table>
  
  <div class=""
</div><!-- /#summary -->