<div class="page-header">
  <h1>Your Checklist</h1>
</div>

<div class="row-fluid">

  <div class="span6">
    <p class="lead">Thank you for answering all of our questions.</p>
    <p class="lead">Based on what you&rsquo;ve told us, we believe <%= (answers.is_owner === "true") ? "your" : "this" %> business needs to complete the following paperwork.</p>
  </div>
  
  <div class="span6">
    <div class="well">
    <div class="user_message"></div>
      <ul class="lead">
        <li>Total forms: 3</li>
        <li>Total fees: $221.00</li>
      </ul>
      <p><a class="btn btn-large btn-info" id="sendApplicationEmail">Submit your application &rarr;</a></p>
      <p><a class="btn btn-large btn-info" href="javascript:window.print();">Print this checklist &rarr;</a></p>
    </div>
  </div>
</div>

<hr>

<!-- ####################################################################### -->

<!-- Owner Agent -->
<div class="row-fluid task">
  <div class="span12">
  
  <% if (!answers.is_owner) { %>

    <p class="lead alert alert-error">You haven't told us whether you're the property owner or filling this out on the property owner's behalf. <a href="/info">&larr; Go back</a></p>

  <% } else { %>

    <% if (answers.is_owner !== "true") { %>

    <h3 class="task-title">
      <span class="task-count">1</span>
      Register as the <strong>Owner Agent</strong>.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You&rsquo;ve said that you are completing this application on <%= answers.owner_first_name %> <%= answers.owner_last_name %>&rsquo;s behalf. In order for the City of Santa Cruz to issue business-related permits to you, <%= answers.owner_first_name %> <%= answers.owner_last_name %> must give their written approval. This document serves as the City&rsquo;s authorization to issue permits to you.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>There is no charge to register as the owner agent.</h4>
        <p class="lead">$0</p>
      </div>
    </div>
    
    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>Before proceeding with any construction on the site;</li>
          <li>Download and print <a href="/assets/pdf/city/owner-agent.pdf">this form &rarr;</a></li>
          <li>Fill out this form with the information you provided.</li>
          <li>Sign and notarize this form. (Tip: The city clerk is a notary public!)</li>
          <li>Submit this form to the Planning Department. <a href="/help">Make an appointment with a planner &rarr;</a></li>
        </ol>
        <p></p>
      </div>
    </div><!-- /.task-steps -->
    
    <% } %>

  <% } %>

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Owner Agent -->  


<!-- ####################################################################### -->

<!-- Planning Permit -->
<div class="row-fluid task">
  <div class="span12">

<% if (!answers.required_permit) { %>

    <p class="lead alert alert-error">You haven't told us where you'll be working from, so we're not able to tell you which planning permit you'll need. <a href="/location">Go back and choose your business's location &rarr;</a></p>

<% } else { %>

    <% if (answers.location_type == "home") { %>

        <% if (answers.required_permit.home_occ_prohibited == true) { %>

    <!-- Home occ in a district that doesn't allow home occs -->
    <h3 class="task-title">
      <span class="task-count">2</span>
      Apply for a planning permit.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You&rsquo;ve said that you are working from home and that your business complies with the restrictions on work-from-home businesses, but work-from-home businesses are not allowed in your zoning district.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>We suggest talking to a planner to see if they can help.</h4>
        <p class="lead">Unknown</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li><a href="/help">Make an appointment with a planner by submitting this application.&rarr;</a></li>
        </ol>
      </div>
    </div><!-- /.task-steps -->

        <% } else { %>

    <!-- Home occ in a district that allows home occs -->
    <h3 class="task-title">
      <span class="task-count">2</span>
      Get a zoning clearance.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You&rsquo;ve said that you are working from home and that your business complies with the restrictions on work-from-home businesses, and your zoning district allows work-from-home businesses, so the only planning permit you need is a zoning clearance.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>How much is the fee?</h4>
        <p class="lead">$221.00</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>Submit your OpenCounter Session with following information, or;</li>
          <li>Download and print the <a href="#">zoning clearance form &rarr;</a>.</li>
          <li>Fill it out with the information you provided.</li>
        </ol>
      </div>
        <% } %>

    <% } else { %>

        <% if (answers.required_permit.permit == "1") { %>

    <!-- Non-home occ that is principally permitted -->
    <h3 class="task-title">
      <span class="task-count">2</span>
      Get a zoning clearance.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You&rsquo;ve told us that you&rsquo;re <strong>working from a commercial space</strong> at <strong><%= answers.business_physical_address_street %></strong>, and your business is categorized as <strong><%= answers.CIC_industry_subindustry %> (code <%= answers.CIC_code %>)</strong>. This use is principally permitted, so the only planning permit you need is a zoning clearance.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>How much is the fee?</h4>
        <p class="lead">$221.00</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>Download and print the <a href="#">zoning clearance form &rarr;</a>.</li>
          <li>Fill it out with the information you provided.</li>
          <li>Submit it to the Planning Department by submitting your OpenCounter session.</li>
        </ol>
      </div>
    </div><!-- /.task-steps -->

        <% } else if (answers.required_permit.permit == "2") { %>

    <!-- Non-home occ that needs an AUP -->
    <h3 class="task-title">
      <span class="task-count">2</span>
      Apply for an administrative use permit.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You&rsquo;ve told us that you&rsquo;re <strong>working from a commercial space</strong> at <strong><%= answers.business_physical_address_street %></strong>, and your business is categorized as <strong><%= answers.CIC_industry_subindustry %> (code <%= answers.CIC_code %>)</strong>. This use is not principally permitted, so the planning permit you need is an administrative use permit.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>How much is the fee?</h4>
        <p class="lead">$869.00</p>
        <!-- Ruthie, this is optional, sorry if it breaks your CSS-->
        <p>Going through the use permit process will also trigger some additional fees that are used to pay for the time that your application will take the Planning and Community Development Department to process. Typically, there is an intake fee of $50 for AUPs and a document handling charge of $35.</p>
        <p>Since you'll be part of a public hearing, the City will send post cards to your new neighbors and place a sign noticing the public hearing on the property. The City will charge you <strong>$272</strong> for this noticing service.</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>Submit a land use application through this OpenCounter session, or;</li>
          <li>Download and print the <a href="#">land use permit form &rarr;</a></li>
          <li>Fill it out with the information you provided.</li>
        </ol>
      </div>
    </div><!-- /.task-steps -->

        <% } else if (answers.required_permit.permit == "3") { %>

    <!-- Non-home occ that needs an SUP -->
    <h3 class="task-title">
      <span class="task-count">2</span>
      Apply for a special use permit.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You&rsquo;ve told us that you&rsquo;re <strong>working from a commercial space</strong> at <strong><%= answers.business_physical_address_street %></strong>, and your business is categorized as <strong><%= answers.CIC_industry_subindustry %> (code <%= answers.CIC_code %>)</strong>. This use is not principally permitted, so the planning permit you need is a special use permit.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>How much is the fee?</h4>
        <p class="lead">$1,632.00</p>
        <!-- Ruthie, this is optional, sorry if it breaks your CSS-->
        <p>Going through this permit process will also trigger some additional fees that are used to pay for the time that your application will take the Planning and Community Development Department to process. Typically, there is an intake fee of $100 for SUPs and a document handling charge of $70.</p>
        <p>Since you'll be part of a public hearing, the City will send post cards to your new neighbors and place a sign noticing the public hearing on the property. The City will charge you <strong>$272</strong> for this noticing service.</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>Download and print the <a href="#">land use permit form &rarr;</a></li>
          <li>Fill it out with the information you provided.</li>
          <li>Submit it to the Planning Department by submitting your OpenCounter session.</li>
        </ol>
      </div>
    </div><!-- /.task-steps -->

        <% } else if (answers.required_permit.permit == "4") { %>

    <!-- Non-home occ with a prohibited use -->
    <h3 class="task-title">
      <span class="task-count">2</span>
      Ask a planner which planning permit you'll need.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You&rsquo;ve told us that you&rsquo;re <strong>working from a commercial space</strong> at <strong><%= answers.business_physical_address_street %></strong>, and your business is categorized as <strong><%= answers.CIC_industry_subindustry %> (code <%= answers.CIC_code %>)</strong>, but that type of business is not allowed in your zoning district.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>How much is the fee?</h4>
        <p class="lead">Unknown</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li><a href="/help">Make an appointment with a planner by submitting your OpenCounter session.&rarr;</a></li>
        </ol>
      </div>
    </div><!-- /.task-steps -->

        <% } else if (answers.required_permit.permit == "5") { %>

    <!-- Non-home occ with an unknown use -->
    <h3 class="task-title">
      <span class="task-count">2</span>
      Ask a planner which planning permit you'll need.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You&rsquo;ve told us that you&rsquo;re <strong>working from a commercial space</strong> at <strong><%= answers.business_physical_address_street %></strong>, and your business is categorized as <strong><%= answers.CIC_industry_subindustry %> (code <%= answers.CIC_code %>)</strong>. OpenCounter can't yet automatically determine which type of planning permit you need, so you'll need to ask a planner.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>HOW MUCH IS THE FEE?</h4>
        <p class="lead">Unknown</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li><a href="/help">Make an appointment with a planner by submitting your OpenCounter session. &rarr;</a></li>
        </ol>
      </div>
    </div><!-- /.task-steps -->

        <% } %>

    <% } %>

<% } %>

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Planning Permit -->  

<!-- ####################################################################### -->

<!-- Fictitious Business Name -->
<div class="row-fluid task">
  <div class="span12">

<% if (!answers.business_name) { %>

    <p class="lead alert alert-error">You haven't told us the name of this business. <a href="/info/business"> &larr; Go back</a></p>

<% } else { %>

    <% if (!answers.applicant_last_name) { %>

    <p class="lead alert alert-error">You haven't told us your last name. <a href="/info/applicant">&larr; Go back</a></p>

    <% } else { %>

        <% if (answers.business_name.indexOf(answers.applicant_last_name) == -1) { %>

    <!-- FBN required -->
    <h3 class="task-title">
      <span class="task-count">3</span>
      Register a fictitious business name with the county.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You&rsquo;ve told us that <%= (answers.is_owner === "true") ? "your" : "the owner&rsquo;s" %> name is <strong><% if (answers.is_owner === "true") { %><%= answers.applicant_first_name %> <%= answers.applicant_last_name %><% } else { %><%= answers.owner_first_name %> <%= answers.owner_last_name %><% } %></strong> and <%= (answers.is_owner === "true") ? "your" : "this" %> business&rsquo;s name is <strong><%= answers.business_name %></strong>, so you will need an FBN from the County of Santa Cruz.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>HOW MUCH IS THE FEE?</h4>
        <p class="lead">$40.00 </p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>Sorry, but OpenCounter can only process City forms, so you'll have to physically submit this form at the county</li>
          <li></li>Download and print the <a href="#">fictitious business name form &rarr;</a></li>
          <li>Fill it out with the information you provided.</li>
          <li>Send the completed form, along with a check made payable to Santa Cruz County Clerk and a legal-size, self-addressed stamped envelope to: Santa Cruz County Clerk, 701 Ocean Street, Room 210, Santa Cruz, CA 95060</li>
        </ol>
      </div>
    </div><!-- /.task-steps -->

        <% } %>

    <% } %>

<% } %>

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Fictitious Business Name -->

<!-- ####################################################################### -->

<!-- Business License -->
<div class="row-fluid task">
  <div class="span12">

<% if (!answers.business_physical_address_street) { %>

    <p class="lead alert alert-error">You haven't told us the location of your business. <a href="/location">&larr; Go back</a></p>

<% } else { %>

    <!-- FBN required -->
    <h3 class="task-title">
      <span class="task-count">4</span>
      Get a business license tax certificate.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">Your business<% if (answers.business_name) { %>, <strong><%= answers.business_name %></strong>,<% } %> is located at <strong><%= answers.business_physical_address_street %></strong>, which is within the Santa Cruz city limits, so you are required to have a City of Santa Cruz Business License Tax Certificate.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>HOW MUCH IS THE FEE?</h4>
        <p class="lead">$155.35 (@FIX)</p>
      </div>
    </div>

    <div class="row-fluid task-steps">

    </div><!-- /.task-steps -->

<% } %>

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Business License -->

<!-- ####################################################################### -->

<% if (answers) { %>

<!-- Environmental Health & Safety -->
<div class="row-fluid task">
  <div class="span12">

    <h3 class="task-title">
      <span class="task-count">#</span>
      Apply for a food service permit.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">Your business<% if (answers.business_name) { %>, <strong><%= answers.business_name %></strong>,<% } %> serves food, so you are required to have a food service permit from the county.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>HOW MUCH IS THE FEE?</h4>
        <p class="lead">Varies (@FIX)</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>You'll need to submit this form after you draw up plans and submit for a building permit; </li>
          <li>Download and print the <a href="http://sccounty01.co.santa-cruz.ca.us/eh/consumer_protection/Food_Establishment_Health_Permit_Application.pdf">health permit application &rarr;</a></li>
          <li>Fill it out with the information you provided.</li>
          <li>Mail the completed form and cash or check payment to Environmental Health Services.</li>
          <li>This begins the process for a food service permit. This still requires an inspection.</li>
        </ol>
      </div>
    </div><!-- /.task-steps -->

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Environmental Health & Safety -->

<% } %>

<!-- ####################################################################### -->

<!-- Incorporation -->
<div class="row-fluid task">
  <div class="span12">

    <h3 class="task-title">
      <span class="task-count">#</span>
      Register your corporation.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You&rsquo;ve told us that your business<% if (answers.business_name) { %>, <strong><%= answers.business_name %></strong>,<% } %> is structured as a <%= answers.business_structure %>, and if you haven't already registered with the state of California, you may want to do so now. You can register in other states as well. Many companies are registered in Delaware, for example. </p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>HOW MUCH IS THE FEE?</h4>
        <p class="lead">Varies bases on strcuture of business</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>Go to the <a href="http://www.sos.ca.gov/business/">California Business Portal</a></li>
          <li>Fill it out with the information you provided.</li>
        </ol>
      </div>
    </div>

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Incorporation -->

<!-- ####################################################################### -->

<!-- Sign Permit -->
<div class="row-fluid task">
  <div class="span12">

    <h3 class="task-title">
      <span class="task-count">#</span>
      Get a permit for your sign.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You&rsquo;ve told us that your business<% if (answers.business_name) { %>, <strong><%= answers.business_name %></strong>,<% } %> will be hanging a sign. You will need to obtain a permit for the sign from the Planning Department.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>HOW MUCH IS THE FEE?</h4>
        <p class="lead">$253</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>Submit the additional information needed by the planning department by submitting your OpenCounter session.</li>
        </ol>
      </div>
    </div>

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Sign Permit -->

<!-- ####################################################################### -->

<!-- Building Permit -->
<div class="row-fluid task">
  <div class="span12">

    <h3 class="task-title">
      <span class="task-count">#</span>
      Get a building permit.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You've said you plan to do construction, renovation, or tenant improvement, so you'll need a building permit to ensure compliance with building codes, verified by inspection services.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>HOW MUCH IS THE FEE?</h4>
        <p class="lead">This fee varies on the valuation of the building project. Typically 7-10%.</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>Submit your session through OpenCounter to get this started, but you'll need to come into City hall with plans drawn up by a certified architect or engineer or design professional;</li>
          <li>Download and print the <a href="#">building permit</a> form.</li>
          <li>Fill it out with the <a href="#">information you provided</a>.</li>
          <li>Make an appointment with a city planner, who will direct you to the Building department.</li>
        </ol>
      </div>
    </div><!-- /.task-steps -->

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Building Permit -->

<!-- ####################################################################### -->

<!-- Utilities -->
<div class="row-fluid task">
  <div class="span12">

    <h3 class="task-title">
      <span class="task-count">#</span>
      Start utility services for your business.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You've told us you're working out of a commercial location, which means you'll need utility service.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>HOW MUCH IS THE FEE?</h4>
        <p class="lead">$@TODO</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li></li>
          <li>?</li>
          <li>?</li>
        </ol>
      </div>
    </div><!-- /.task-steps -->

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Utilities -->

<!-- ####################################################################### -->

<!-- Traffic Impact Fee -->
<div class="row-fluid task">
  <div class="span12">

    <h3 class="task-title">
      <span class="task-count">#</span>
      [Traffic Impact Fee]
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">Explanation</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>OUTCOME FROM CALCULATOR HERE</h4>
        <p class="lead">$@TODO</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>At this time OpenCounter is only able to give you our best estimation of a traffic impact fee. Your Planning contact will help you get more information on on how the Traffic Impact Fee will be calculated and applied during the building permit process.</li>
        </ol>
      </div>
    </div>

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Traffic Impact Fee -->


<!-- ####################################################################### -->

<!-- Waste Water Discharge -->
<div class="row-fluid task">
  <div class="span12">

    <h3 class="task-title">
      <span class="task-count">#</span>
      [Waste Water Discharge]
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">Explanation</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>There is no charge to apply for the wastewater discharge permit. Your planner will help you prepare for this application.</h4>
        <p class="lead">$0</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>?</li>
          <li>?</li>
          <li>?</li>
        </ol>
      </div>
    </div>

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Waste Water Discharge -->


<!-- ####################################################################### -->

<!-- Parking -->
<div class="row-fluid task">
  <div class="span12">

    <h3 class="task-title">
      <span class="task-count">#</span>
      Title
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">Explanation</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>HOW MUCH IS THE FEE?</h4>
        <p class="lead"> OUTCOME FROM PARKING CALC HERE @TODO</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>There's no application for parking, if you're not downtown, then parking will play into the planning permit process.</li>
          <li>If you're downtown, all the information the City needs is on your business license application, which is already filled out.</li>
          <li>Either way, summit your OpenCounter session to begin the process.</li>
        </ol>
      </div>
    </div>

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Parking -->

<!-- ####################################################################### -->

<!-- Admissions Tax -->
<div class="row-fluid task">
  <div class="span12">

    <h3 class="task-title">
      <span class="task-count">#</span>
      Register to pay admissions tax on events your business holds.
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You've let us know your business is involved in &ldquo;entertainment, amusement or recreation,&rdquo; and you will charge admission to your venue or place of business. It&rsquo;s your responsibility to register with the city and remit admissions tax on a monthly basis.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>HOW MUCH IS THE FEE?</h4>
        <p class="lead">5% of monthly admissions.</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>Submit your OpenCounter session to the Planning Department.</li>
          <li>Keep accurate monthly records on your admissions revenue.</li>
          <li>Submit an admissions tax remittance monthly to the Finance Department.</li>
        </ol>
      </div>
    </div>

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Admissions Tax -->

<!-- ####################################################################### -->

<!-- Business Improvement District Assessment -->
<div class="row-fluid task">
  <div class="span12">

    <h3 class="task-title">
      <span class="task-count">#</span>
      [Business Improvement District Assessment]
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">Explanation</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>HOW MUCH IS THE FEE?</h4>
        <p class="lead">$SHOULD FLOW FROM CALCULATOR @TODO</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>When you apply for a business license, the finance staff will automatically calculate your Business Improvement District Fees.</li>
        </ol>
      </div>
    </div>

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Business Improvement District Assessment -->


<!-- ####################################################################### -->

<!-- Transit Occupancy Tax  -->
<div class="row-fluid task">
    <div class="span12">
        
        <h3 class="task-title">
            <span class="task-count">#</span>
            Register to collect Transit Occupancy Tax.
        </h3>
        
        <div class="row-fluid">
            <div class="span8 task-why">
                <p class="lead">You&rsquo;ve told us that your business<% if (answers.business_name) { %>, <strong><%= answers.business_name %></strong>,<% } %> is structured as a <%= answers.business_structure %>, and will be involved in lodging. </p>
            </div>
            <div class="span3 offset1 task-fee">
                <h4>HOW MUCH IS THE FEE?</h4>
                <p class="lead">No charge to register, 11% of rental rate charged direct to consumer.</p>
            </div>
        </div>
        
        <div class="row-fluid task-steps">
            <div class="span12">
                <h4>Instructions</h4>
                <ol>
                    <li>Register your place of business with the City by submitting your OpenCounter session.</li>
                </ol>
            </div>
        </div>
        
    </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Transit Occupancy Tax -->

<!-- ####################################################################### -->

<!-- ABC -->
<div class="row-fluid task">
  <div class="span12">

    <h3 class="task-title">
      <span class="task-count">#</span>
      [ABC]
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">You've told us your business will be serving alcohol, which means you'll need an ABC permit from the state.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>HOW MUCH IS THE FEE?</h4>
        <p class="lead">$Varies</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>This process is fairly complex, your Planner will walk you through the process.</li>
          <li>Talk to your planner.</li>
        </ol>
      </div>
    </div>

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /ABC -->


<!-- ####################################################################### -->

<!-- Seller's Permit -->
<div class="row-fluid task">
  <div class="span12">

    <h3 class="task-title">
      <span class="task-count">#</span>
      [Seller's Permit]
    </h3>

    <div class="row-fluid">
      <div class="span8 task-why">
        <p class="lead">This is to register with the state Board of Equalization for remitting sales tax on retail sales.</p>
      </div>
      <div class="span3 offset1 task-fee">
        <h4>HOW MUCH IS THE FEE?</h4>
        <p class="lead">$0</p>
      </div>
    </div>

    <div class="row-fluid task-steps">
      <div class="span12">
        <h4>Instructions</h4>
        <ol>
          <li>Download the (re)Seller's Permit Applicaiton from the State Board of Equalization and sumbit it or register online. </li>
        </ol>
      </div>
    </div><!-- /.task-steps -->

  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Sellers Permit -->

<!-- ####################################################################### -->

<!-- Payroll Tax -->
<div class="row-fluid task">
    <div class="span12">
        
        <h3 class="task-title">
            <span class="task-count">#</span>
            [Payroll Tax]
        </h3>
        
        <div class="row-fluid">
            <div class="span8 task-why">
                <p class="lead">Registration of employees for collection of payroll tax.</p>
            </div>
            <div class="span3 offset1 task-fee">
                <h4>Fee</h4>
                <p class="lead">$0</p>
            </div>
        </div>
        
        <div class="row-fluid task-steps">
            <div class="span12">
                <h4>Instructions</h4>
                <ol>
                    <li>At this time OpenCounter isn't able to choose the form and values for submitting for payroll tax, you'll have to visit the State's Website for more information.'.</li>
                </ol>
            </div>
        </div>
        
    </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<!-- /Payroll Tax -->

<!-- ####################################################################### -->

    <!--
    <% var fee = 0;
       if(answers.location_type == "home"){
         fee+=221;
       }
       if ((answers.business_name) && (answers.business_name.indexOf(answers.applicant_last_name) === -1)) { 
         fee+=40;
       }
       if(answers.business_license_fee){
         fee+=answers.business_license_fee;
       } %>
    <%= fee  %>
    -->
