<div class="page-header">
  <h1>Starting a business? We&rsquo;re here to help.</h1>
</div>

<div class="row-fluid">
  <div>
    <p class="lead">This website will guide you through the business permitting process in Santa Cruz, CA.</p>
    <p class="lead">You&rsquo;ll learn what regulations and fees apply to your business, and we&rsquo;ll help you get started on &mdash; or, in some cases, complete! &mdash; the paperwork you&rsquo;ll need to file to open your doors.</p>

    <div class="form-submit">
      <span class="lead">Let&rsquo;s begin by learning about &nbsp;<a href="/intro/big_picture" class="btn btn-large btn-info">the big picture &rarr;</a></span>
    </div>
  </div>
</div>