<div id="info_applicant">
  <h1>About [if owner]you[else]the owner[/if]</h1>
  <form method="post" action="#" id="form_info_applicant">
    <label>
      What is [if owner]your[else]the owner&rsquo;s[/if] first name?
      <input type="text" name="applicant_first_name" placeholder="">
    </label>
    <label>
      What is [if owner]your[else]the owner&rsquo;s[/if] last name?
      <input type="text" name="applicant_last_name" placeholder="">
    </label>
    <label>
      What is [if owner]your[else]the owner&rsquo;s[/if] email address?
      <input type="text" name="applicant_email" placeholder="">
    </label>
    <label>
      What is [if owner]your[else]the owner&rsquo;s[/if] phone number?
      <input type="text" name="applicant_phone" placeholder="(###) ###-####">
    </label>
    <p class="next">Next, <a class="submit" href="#info_business">tell us about [if owner]your[else]the[/if] business &rarr;</a></p>
  </form>
</div><!-- /#info_applicant -->

