<p>This is an application for a use permit. This is ONLY needed if the use of your business is not "principally permitted" at your location.</p>

<!-- Begin Use Permit (AUP / SUP) -->
<!-- CONDITION: The user's business is not principally permitted.  -->
<label>
  Lot size (sq.ft):
  <input type="text">
</label>

<label>
  Proposed floor area (sq.ft):
  <input type="text">
</label>

<label>
  Existing floor area (sq.ft):
  <input type="text">
</label>

<label>
  Total floor area (sq.ft):
  <input type="text">
</label>

<label>
  Building height (ft):
  <input type="text">
</label>

<label>
  Building height (stories):
  <input type="text">
</label>

<label>
  Accessory building height (ft):
  <input type="text">
</label>

<label>
  Accessory building height (stories):
  <input type="text">
</label>

<!--All sign info goes here. Will this be auto-filled?-->

<label>
  Wall area (sq.ft):
  <input type="text">
</label>

<label>
  Frontage of Lot (ft):
  <input type="text">
</label>

<label>
  Frontage of Lot (sq.ft):
  <input type="text">
</label>

<label>
  Frontage of building (ft):
  <input type="text">
</label>

<label>
  Any special design features or materials:
  <input type="text">
</label>

<label>
  Flood plain maintenance information (if applicable):
  <input type="text">
</label>
<!-- End Use Permit (AUP / SUP) -->
