<p>Will any construction or renovation be needed on the property?</p>

<!-- Begin Building Permit -->
<!-- CONDITION Construction or renevation is done -->
<label>
  Permit number
  <input type="text">
</label>

<label>
  Current date
  <input type="text">
</label>

<label>
  Expansion plan check due date
  <input type="text">
</label>

<label>
  Area of addition or changes (sq. ft.)
  <input type="text">
</label>

<label>
  Role of applicant
  <input type="text">
</label>

<label>
  Role of professional
  <input type="text">
</label>

<label>
  Professional's name
  <input type="text">
</label>

<label>
  Professional's address
  <input type="text">
</label>

<label>
  Professional's phone number
  <input type="text">
</label>

<label>
  Professional's email
  <input type="text">
</label>

<label>
  Occupancy Class
  <input type="text">
</label>

<label>
  Type of construction
  <input type="text">
</label>

<label>
  Building height (ft)
  <input type="text">
</label>

<label>
  Building height (stories)
  <input type="text">
</label>

<label>
  Sprinklers?
  <input type="text">
</label>

<label>
  Quimby fee?
  <input type="text">
</label>

<label>
  Is this a project related to a TIF (Traffic Impact Fee)?
  <input type="text">
</label>
<!-- End Building Permit -->
