Will your business be making a profit under a fictitious business name?
<!-- Begin Fictitious Business Name Statement -->
<!-- CONDITION: Business is for-profit under a fictitious business name -->
<label>
  Start date:
  <input type="text">
</label>
<!-- End Fictitious Business Name Statement -->
