        This is an application for a use permit. This is ONLY needed if the use of your business is not "principally permitted" at your location. 
                <!-- Begin Use Permit (AUP / SUP) -->
                <!-- CONDITION: The user's business is not principally permitted.  -->
          <input for="">Lot size (sq.ft):</label>
          <input type="text">

          <input for="">Proposed floor area (sq.ft):</label>
          <input type="text">

          <input for="">Existing floor area (sq.ft):</label>
          <input type="text">

          <input for="">Total floor area (sq.ft):</label>
          <input type="text">

          <input for="">Building height (ft):</label>
          <input type="text">

          <input for="">Building height (stories):</label>
          <input type="text">

          <input for="">Accessory building height (ft):</label>
          <input type="text">

          <input for="">Accessory building height (stories):</label>
          <input type="text">

          <!--All sign info goes here. Will this be auto-filled?-->

          <input for="">Wall area (sq.ft):</label>
          <input type="text">

          <input for="">Frontage of Lot (ft):</label>
          <input type="text">

          <input for="">Frontage of Lot (sq.ft):</label>
          <input type="text">

          <input for="">Frontage of building (ft):</label>
          <input type="text">

          <input for="">Any special design features or materials:</label>
          <input type="text">

          <input for="">Flood plain maintenance information (if applicable):</label>
          <input type="text">
                <!-- End Use Permit (AUP / SUP) -->
