<!-- Begin Owner Agent Form -->
<!-- CONDITION: A non-owner applies for a permit on behalf of business -->
<label>
  Application number
  <input type="text" name="application_number">
</label>

<label>
  Agent's name
  <input type="text" name="agent_name">
</label>

<label>
  Agent address
  <input type="text" name="agent_address">
</label>

<label>
  Agent's phone number
  <input type="text">
</label>

<label>
  Current date
  <input type="text">
</label>

<label>
  Owner's name
  <input type="text">
</label>

<label>
  Owner's address
  <input type="text">
</label>

<label>
  Owner's phone number:
  <input type="text">
</label>
<!-- End Owner Agent Form -->
