<h1>Application for Utility Service</h1>
<p>Will you be applying for utilities?</p>

<!-- @condition Business requires new utility service -->

<!-- Begin Application for Utility Service -->
<label>
  Previous service address, if within 2 years of service:
  <input type="text" name="previous_service_address">
</label>

<label>
  Business fax number:
  <input type="text" name="business_fax_number">
</label>

<label>
  City business license number:
  <input type="text" name="business_license_number">
</label>

<label>
  City business license expiration date:
  <input type="text" name="business_license_exp_date">
</label>


<label>
  What date will service begin? This excludes Fridays, weekends and holidays.
  <input type="text" name="service_start_date">
</label>

<label>
  Container size (1, 2, 4, or 5 yard)
  <input type="text" name="container_size">
</label>

<label>
  Multiple pickups or just one?
  <input type="radio"> One
  <input type="radio"> Multiple
</label>
<!-- End Application for Utility Service -->
