

        Will you be applying for utilities?
                <!-- Begin Application for Utility Service -->
                <!-- CONDITION: New utility registration will be done -->

          <input for="">Previous service address, if within 2 years of service:</label>
          <input type="text">

          <input for="">Business fax number:</label>
          <input type="text">

          <input for="">City business license number:</label>
          <input type="text">

          <input for="">City business license expiration date:</label>
          <input type="text">

          <input for="">What date will service begin? This excludes fridays, weekends and holidays.</label>
          <input type="text">

          <input for="">Container (1, 2, 4, or 5 yard):</label><!--NOTE-->
          <input type="text">

          <label>Multiple pickups or just one?</label><!--NOTE-->
          <input type="radio"> One
          <input type="radio"> Multiple
                <!-- End Application for Utility Service -->
