<div class="page-header">
  <h1>We&rsquo;re Here To Help</h1>
</div>

<div class="row-fluid">
  <div class="span12">
    <p class="lead">When starting a business, it&rsquo;s helpful to have someone to talk to. The following people &amp; organizations are here to help.</p>
  
    <h3 class="toggle">The Santa Cruz Planning Department <small>&darr;</small></h3>
    <div class="drawer well">
      <p>The Planning Department will be your business&rsquo;s main point of contact within city government.</p>
      <p><img src="/assets/planning-department.png" alt="City of Santa Cruz Planning Department" width="450" height="302"></p>
      <div class="tool status">
        <% 
        var now = new Date(),
            day = now.getDay(),
            hours = now.getHours(),
            isOpen = ( (day < 5) && (day > 0) && (hours > 7) && (hours < 12) ) ? true : false;
        
        if (isOpen) { %>
            <p>The Planning Department&rsquo;s public counter is currently <span class="status">OPEN</span>. Come on by!</p>
        <% } else { %>
          <p>The Planning Department&rsquo;s public counter is currently <span class="status">CLOSED</span>. <a href="/help">Email us &rarr;</a></p>
        <% } %>
      </div>
      <p>You are always welcome to visit the Planning Department in person.</p>
      <p>The Planning Department&rsquo;s public counter is located in City Hall, on the annex building&rsquo;s second floor, in room 206.</p>
      <p><a target="_blank" href="https://maps.google.com/maps?q=809+Center+Street+Room+206+Santa+Cruz,+CA+95060&ie=UTF-8"><img src="/assets/planning-department-map.jpg" alt="Map to Planning Department" width="425" height="258"></a></p>
      <address>
        <strong>Santa Cruz City Hall</strong><br>
        809 Center Street<br>
        Room 206<br>
        Santa Cruz, CA 95060<br><br>
        <strong>Telephone:</strong> (831) 420-5100<br>
        <strong>Fax:</strong> (831) 420-5434<br>
        <strong>Email:</strong> <a href="mailto:planningcounter@cityofsantacruz.com">planningcounter@cityofsantacruz.com</a>
      </address>


      <p>The public counter is open Monday &ndash; Thursday, 7am &ndash; 12pm.</p>
      <p>Staff are available by phone or appointment only, Monday &ndash; Thursday, 1pm &ndash; 5pm.</p>
    </div>
  
    <h3 class="toggle">The Central Coast Small Business Development Center (SBDC) <small>&darr;</small></h3>
    <div class="drawer well">
      <p>The Central Coast Small Business Development Center at Cabrillo College offers a wide variety of services for present and potential small business owners. All counseling services are confidential and free of charge. The SBDC is unable to provide counseling for tax or legal issues, but they can provide referrals in your area.</p>
      <p>Visit the <a href="http://centralcoastsbdc.org/" class="external">Central Coast Small Business Development Center (SBDC)</a>.</p>
    </div>
  
    <h3 class="toggle">Santa Cruz Public Libraries <small>&darr;</small></h3>
    <div class="drawer well">
      <p>The Santa Cruz Public Libraries have a reference desk and an <a href="http://www.santacruzpl.org/guides/1/" class="external">online guide to starting a business</a>.</p>
      <p>Visit the <a href="http://www.santacruzpl.org/" class="external">Santa Cruz Public Libraries</a>.</p>
    </div>
  
    <h3 class="toggle">The Office of Economic Development <small>&darr;</small></h3>
    <div class="drawer well">
      <p>The Economic Development Department helps develop tools (like OpenCounter!) and policies that make it easier to start, sustain and grow businesses on the Central Coast. Staff collect and maintains market data, act as a concierge for City services, and are on call to help you through the process of setting up shop in Santa Cruz.</p>
      <p>Visit the <a href="http://www.cityofsantacruz.com/index.aspx?page=446" class="external">Office of Economic Development</a>.</p>
    </div>
  
    <h3 class="toggle">California Secretary of State <small>&darr;</small></h3>
    <div class="drawer well">
      <p>The Secretary of State&#8217;s office has a general <a href="http://www.sos.ca.gov/business/be/starting-a-business.htm" class="external">overview</a> of how to start a business.</p>
      <p>Visit the <a href="http://www.sos.ca.gov" class="external">California Secretary of State</a>.</p>
    </div>
  
    <h3 class="toggle">Your Broker, Property Manager, or Landlord <small>&darr;</small></h3>
    <div class="drawer well">
      <p>These folks have probably been through this process before and can offer helpful pointers.</p>
    </div>

    <hr />
    <div class="form-actions">
      <p class="next lead"><a href="/info" class="btn btn-large">Tell us about yourself &rarr;</a></p>
    </div>
  </div>
</div>