<div class="page-header">
  <h1>Get Started!</h1>
</div>

<!-- The contents of this page is changed by the personalise() function in user.js -->

<div class="row-fluid">
  <div>
    <p class="lead">If you would like to be able to return to your Open Counter application after you begin, please create an account or log into your existing account.  If you would like to start a new application without creating an account, please use a guest account.</p>
    <br />
  </div>

  <div class="alert alert-block hidden" id="errors">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error!</h4>
    <span>Best check yo self, you're not...</span>
  </div>
  
  <div class="span4" style="margin-left: 0px;">
    <div class="well" id="login-form">
      <p class="lead">Existing account</p>
      <div class="control-group ">
        <label class="control-label">Email</label>
        <div class="controls"><input type="text" name="login_email" class="nosave"/></div>
      </div>
      <div class="control-group ">    
        <label class="control-label">Password</label>
        <div class="controls"><input type="password" name="login_password" /></div>
      </div>
      <br />
      <a class="btn btn-large btn-info" id="applicant_log_in">Log in &rarr;</a>
    </div>
  </div>

  <div class="span4">
    <div class="well" id="sign-up-form">
      <p class="lead">New account</p>
      <div class="control-group">
        <label class="control-label">Email Address</label>
        <div class="controls"><input type="text" name="applicant_email" placeholder=""></div>
      </div>
      <div class="control-group">
        <label class="control-label">Password</label>
        <div class="controls"><input type="password" name="applicant_password"></div>
      </div>
      <div class="control-group">
        <label class="control-label">Re-Enter Password</label>
        <div class="controls"><input type="password" name="applicant_password_confirmation"></div>
      </div>
      <a class="btn btn-large btn-info" id="applicant_sign_up">Sign up &rarr;</a>
    </div>
  </div>
  
  <div class="span4">
    <div class="well" id="begin-form">
      <p class="next lead">Guest account</p>
      <p class="next">Your information will not be saved until you submit your application.</p>
      <!-- <p class="next">You will need to tell us your name, email address and phone number before submitting to planning</p> -->
      <br />
      <p class="next lead"><a class="btn btn-large btn-info" id="begin" href="/info">Begin &rarr;</a></p>
    </div>
  </div>
</div>

<!-- user applications could go here -->
<div class="row-fluid hidden">
  <h3>Your Business Applications</h3>
  <table class="table table-striped">
    <thead>
      <th>Updated</th>
      <th>Business Name</th>
      <th>Sent to planning?</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<!--
if it's the owner,
  owner name = applicant name
  owner address = applicant address
  owner email = applicant email
  owner phone = applicant phone
  agent name = blank
  agent address = blank
  agent email = blank
  agent phone = blank


if it's the agent,
  owner name = owner name
  owner address = owner address
  owner email = owner email
  owner phone = owner phone
  agent name = applicant name
  agent address = applicant address
  agent email = applicant email
  agent phone = applicant phone
-->
