<div>

  <div class="userinfo">
    
  </div>

  <form id="form1">
    <label>First Name</label>
    <input type="text" id="firstname" /><br />
    <label>Last Name</label>
    <input type="text" id="lastname" /><br />
    <label>Email</label>
    <input type="text" id="email" /><br />

    <input type="submit" />
  </form>

</div>

