<div id="requirement_business_license">
  <h1>Business License Tax</h1>
  <p>Everyone who operates a commercial concern in the City needs to register with the City's Finance department for a business license. This is an annual requirement that the City uses to track who makes up our business community and what they are doing.</p>
  <p>The fees for this are relatively nominal, at $145.15 plus employees fees of $2.55, $4.95, or $7.40 for each employee depending on your type of business. Luckily, based on what you've already told us, we think we know what kind of business that you are and have put that information into your profile. This may change when staff reviews your application. It's important to remember that you'll be responsible for this fee even if you conduct business for a single day (the fee will be pro-rated). You are exempt from the fee if your business is a registered nonprofit organization.</p>
  <p>Fees for your business license are used to support general city services, including police and fire protection, as well as for the services supplied by the City's Finance, Planning and Community Development Staff and other City Administrative Functions.</p>
  <p>After you register with the City, we'll sent a once a year renewal letter to you.</p>


  <hr>
  
  <p>You've told us that your business is a <%= answers.SIC_sic_name %> (SIC Code: <%= answers.SIC_sic_code %>).</p>
  
  <form>
    <label>
      What type of business is this?
      <input type="radio" name="business_type_class" value="class-a"> Retail, wholesale, contract, construction, or manufacturing
      <input type="radio" name="business_type_class" value="class-b"> Services, hotels and motels, apartment houses, commercial property renting or leasing, recreation and entertainment services and facilities
      <input type="radio" name="business_type_class" value="class-c"> Professions including, but not limited to, accountants, architects, attorneys, auctioneers, chiropractors, dentists, engineers, insurance brokers, medical/health professions, physicians, real estate brokers, security brokers, and veterinarians   
    </label>
    
    <label>
      How many employees do you have?
      <input type="text" name="employee_count">
    </label>
  </form>

  <p class="fee">The fee for the business license will be: <span id="business_license_fee"></span></p>
  
  <p class="next">Next: <a href="/requirement/county/fbn">fictitious business name &rarr;</a></p>
<!-- 

In order to calculate the fee, we need to know
whether this business is Class A, Class B, or Class C.

See: http://www.cityofsantacruz.com/index.aspx?page=764

Class A: $145.15 base tax plus $2.55 per employee
Class B: $145.15 base tax plus $4.95 per employee
Class C: $145.15 base tax plus $7.40 per employee

=======================================

var base_tax = 145.15,
    employees = [employee_count],
    class = [business_type_class],
    employee_rate,
    total;

switch(class) {
    case 'class-a':
        employee_rate = 2.55;
        break;
    case 'class-b':
        employee_rate = 4.95;
        break;
    case 'class-c':
        employee_rate = 7.40;
        break;
    default:
        // throw exception
        break;
}

// Formula from http://www.cityofsantacruz.com/index.aspx?page=764
total = base_tax + (employee_rate * employees);

// Round to nearest cent
total = Math.round(100 * total) / 100;

-->

</div><!-- /#requirement_business_license -->
