<div id="requirement_use_permit">
  <h1>Use Permit</h1>
  
  <p>The type of use permit your business needs depends on whether and how your zoning district permits your use.</p>
  
  <h3>Principally Permitted Uses</h3>
  <div>
    <p>If the zoning code specifically allows your type of business to operate at the site you chose, great!</p>
    <p>All you need is a Zoning Clearance. This is the simplest form of a use permit, and is typically issued the same day, with minimal review.</p>
  </div>
  
  <h3>Non-Principally Permitted Uses</h3>
  <div>
    <p>If your use is not principally permitted, you will need either an Administrative Use Permit or a Special Use Permit.</p>
    <p>Administrative Use Permit (<abbr title="Administrative Use Permit">AUP</abbr>): This kind of application requires more staff analysis, and more information from the applicant. These permits entail a public hearing before the Zoning Administrator, and can take approximately 6-8 weeks to work their way through to completion.</p>
    <p>Special Use Permit (<abbr title="Special Use Permit">SUP</abbr>): Requires a high level of scrutiny, typically due to the size of the project and its impact on the neighborhood. These applications go to Planning Commission, whose decision is ratified by the City Council. SUPs take 2-3 months.</p>
  </div>
  
  <h3>Prohibited Uses</h3>
  <div>
    <p>If your use is explicitly prohibited, you should probably choose a different site for your business.</p>
    <p>The alternative, changing the zoning for that property, is very difficult, rare, and can take years. It is not recommended, but you are welcome to <a href="#">contact the Planning Department</a> for more information.</p>
  </div>
  
  <hr>

  <% if (!answers.location_type) { %>
    <p>You haven&rsquo;t yet told us your business&rsquo;s location.</p>
    <p class="next">Go back and <a href="/location">tell us whether you're working from home or a commercial space &rarr;</a></p>
  <% } %>
  
  <% if ((answers.location_type) && (answers.location_type != "home") && (!answers.required_permit)) { %>
    <p>You&rsquo;ve told us that you're <strong>working out of a commercial space</strong>, but you haven&rsquo;t yet told us the location.</p>
    <p class="next">Go back and <a href="/location/check">check the site's zoning &rarr;</a></p>
  <% } %>
  
  <% if (answers.location_type == "home") { %>
    <!-- @condition HOME OCC - PRINCIPALLY PERMITTED -->
    <p>You've told us that you're <strong>working from home</strong>, and you&rsquo;ve confirmed that your business complies with Santa Cruz Municipal Code 24.10.160.</p>
    <p>The use permit you need is a <em>Zoning Clearance</em>. You&rsquo;ll need to submit it to the Planning Department, and the fee is <strong>$221.00</strong>.</p>
  
    <form method="post" action="#" id="form_zoning_clearance">
      <label>
        Your Phone Number
        <input type="text" name="applicant_phone" placeholder="(###) ###-####" value="<%= answers.applicant_phone %>">
      </label>
      <label>
        Your Business's Phone Number
        <input type="text" name="business_phone" placeholder="(###) ###-####" value="<%= answers.applicant_phone %>">
      </label>
    </form>
    <!-- /@condition HOME OCC - PRINCIPALLY PERMITTED -->
  <% } %>

  <% if ((answers.location_type == "commercial") && (answers.required_permit == "zoning clearance")){ %>
    <!-- @condition NON HOME OCC - PRINCIPALLY PERMITTED -->
    <p>You've told us that you&rsquo;re <strong>working from <%= answers.business_physical_address_street %></strong>, and your business is a <strong><%= answers.SIC_sic_name %></strong> (SIC code <%= answers.SIC_sic_code %>).</p>
    <p>This use is <strong>principally permitted</strong> at this location.</p>
    <p>The use permit you need is a <em>Zoning Clearance</em>. You&rsquo;ll need to submit it to the Planning Department, and the fee is <strong>$221.00</strong>.</p>
    <p>Fill in as much as you can below.</p>
    <form method="post" action="#" id="form_zoning_clearance">
      <label>
        Your Phone Number
        <input type="text" name="applicant_phone" placeholder="(###) ###-####" value="<%= answers.applicant_phone %>">
      </label>
      <label>
        Your Street Address
        <input type="text" name="applicant_physical_address_street" placeholder="Street Address" value="<%= answers.applicant_physical_address_street %>">
      </label>
      <label>
        Your Street Address (Detail)
        <input type="text" name="applicant_physical_address_detail" placeholder="Detail" value="<%= answers.applicant_physical_address_detail %>">
      </label>
      <label>
        Your City
        <input type="text" name="applicant_physical_address_city" placeholder="City" value="<%= answers.applicant_physical_address_city %>">,
      </label>
      <label>
        Your State
        <input type="text" name="applicant_physical_address_state" placeholder="State" value="<%= answers.applicant_physical_address_state %>">
      </label>
      <label>
        Your ZIP Code
        <input type="text" name="applicant_physical_address_zip" placeholder="ZIP" value="<%= answers.applicant_physical_address_zip %>">
      </label>
      <label>
        Your Business's Phone Number
        <input type="text" name="business_phone" placeholder="" value="<%= answers.business_phone %>">
      </label>
      <label>
        APN
        <input type="text" name="apn" placeholder="" value="<%= answers.apn %>">
      </label>
      <label>
        Zoning District
        <input type="text" name="zoning_district" placeholder="" value="<%= answers.zoning_district %>">
      </label>
      <label>
        Intended Property Use
        <input type="text" name="intended_use" placeholder="" value="<%= answers.intended_use %>">
      </label>
      <label>
        Previous Property Use
        <input type="text" name="prior_use" placeholder="" value="<%= answers.prior_use %>">
      </label>
      <label>
        Date of Occupancy
        <input type="text" name="date_of_occupancy" placeholder="" value="<%= answers.date_of_occupancy %>">
      </label>
      <label>
        Total Area (sq. ft)
        <input type="text" name="total_area" placeholder="" value="<%= answers.total_area %>">
      </label>
      <label>
        First Floor Area
        <input type="text" name="first_floor_area" placeholder="" value="<%= answers.first_floor_area %>">
      </label>
      <label>
        Outdoor Area
        <input type="text" name="outdoor_area" placeholder="" value="<%= answers.outdoor_area %>">
      </label>
      <label>
        Is this property single-tenant or multi-tenant?
        <input type="radio" name="single_or_multi_tenant" value="single"> Single-tenant
        <input type="radio" name="single_or_multi_tenant" value="multi"> Multi-tenant
      </label>
      <label>
        Auto Parking Spaces
        <input type="text" name="automobile_parking_spaces" placeholder="">
      </label>
      <label>
        Bicycle Parking Spaces
        <input type="text" name="bicycle_parking_spaces" placeholder="">
      </label>
    </form>
    <!-- /@condition NON HOME OCC - PRINCIPALLY PERMITTED -->
  <% } %>

  <% if ((answers.location_type == "commercial") && (answers.required_permit == "administrative")) { %>
    <!-- @condition NON HOME OCC - NOT PRINCIPALLY PERMITTED - AUP -->
    <p>You've told us that you&lsquo;re <strong>working from <%= answers.business_physical_address_street %></strong>, and your business is a <strong><%= answers.SIC_sic_name %></strong> (SIC code <%= answers.SIC_sic_code %>).</p>
    <p>This use is <strong>not principally permitted</strong> at this location.</p>
    <p>You will need either an <abbr title="Administrative Use Permit">AUP</abbr> to site your business here.</p>
    <p>Contact the Planning Department for next steps.</p>
    <p class="next"><a href="/help">Contact the Planning Department &rarr;</a></p>
    <!-- /@condition NON HOME OCC - NOT PRINCIPALLY PERMITTED - AUP -->
  <% } %>

  <% if ((answers.location_type == "commercial") && (answers.required_permit == "special")) { %>
    <!-- @condition NON HOME OCC - NOT PRINCIPALLY PERMITTED - SUP -->
    <p>You've told us that you&lsquo;re <strong>working from <%= answers.business_physical_address_street %></strong>, and your business is a <strong><%= answers.SIC_sic_name %></strong> (SIC code <%= answers.SIC_sic_code %>).</p>
    <p>This use is requires a <strong>special use permit</strong> at this location.</p>
    <p>You will need either an <abbr title="Special Use Permit">SUP</abbr> to site your business here.</p>
    <p>Contact the Planning Department for next steps.</p>
    <p class="next"><a href="/help">Contact the Planning Department &rarr;</a></p>
    <!-- /@condition NON HOME OCC - NOT PRINCIPALLY PERMITTED - SUP -->
  <% } %>
  
  <% if ((answers.location_type == "commercial") && (answers.required_permit == "prohibited")) { %>
    <!-- @condition NON HOME OCC - PROHIBITED -->
    <p>You've told us that you're <strong>working from <%= answers.business_physical_address_street %></strong>, and your business is a <strong><%= answers.SIC_sic_name %></strong> (SIC code <%= answers.SIC_sic_code %>).</p>
    <p>This use is <strong>prohibited</strong> at this location.</p>
    <p>Siting your business here will require changing the City of Santa Cruz's zoning; this is a difficult process and can take years.</p>
    <p>Contact the Planning Department for next steps.</p>
    <p class="next"><a href="/help">Contact the Planning Department &rarr;</a></p>
    <!-- /@condition NON HOME OCC - PROHIBITED -->
  <% } %>

  <% if ((answers.location_type == "commercial") && (answers.required_permit == "unknown")) { %>
    <!-- @condition NON HOME OCC - UNKNOWN -->
    <p>You've told us that you&rsquo;re <strong>working from <%= answers.business_physical_address_street %></strong>, and your business is business is a <strong><%= answers.SIC_sic_name %></strong> (SIC code <%= answers.SIC_sic_code %>).</p>
    <p>We're sorry, but right now OpenCounter can't automatically determine what type of use permit you need.</p>
    <p>Help us make OpenCounter smarter: please <a href="/help">contact the Planning Department</a>, and they'll help you -- and OpenCounter! -- figure out which type of use permit you need. Thank you for helping out the next person!</p>
    <!-- /@condition NON HOME OCC - UNKNOWN -->
  <% } %>

  <p class="next">Next: <a href="/requirement/city/business_license">Business License &rarr;</a></p>

</div><!-- /#requirement_use_permit -->
