        <div id="location_non_home_occ_choose_site">
          <h1>Find a site for your business</h1>
          <p><a href="http://www.SiteMy.Biz">SiteMy.Biz</a> is a helpful tool to find available commercial space in Santa Cruz.</p>
          
          <label for="site-search-address">You can check a site&#8217;s zoning and prior use by entering the address here:</label>
          <input id="site-search-address" class="input" type="text" name="site-search-address" />
          <input id="site-search-submit" class="button" type="submit" name="button" value="Submit" />
          <p class="micro"><em>Example: 1367 Pacific Avenue</em></p>
          <div id="map-div" style="height: 400px;"></div>
          
          <!--
          <p class="micro">All zones are defined by title 24 of the <a href="http://www.codepublishing.com/CA/SantaCruz/" target="_blank">Municipal code</a>.</p>
          <div id="tlegend" class="my-legend">
          <div class="scale">
          <ul class="labels">
          <li><span style='background:#00652E;'></span>CBD <a class="aj-collapse" rel="cbd">Central Business District&nbsp;⇣</a></li>
          <li><span style='background:#859A3B;'></span>CBD-E <a class="aj-collapse" rel="cbde">Subdistrict Lower Pacific Ave&nbsp;⇣</a></li>
          <li><span style='background:#2DA197;'></span>CC <a class="aj-collapse" rel="cc">Community Commercial&nbsp;⇣</a></li>
          <li><span style='background:#2E8ACA;'></span>CN <a class="aj-collapse" rel="cn">Neighborhood Commercial&nbsp;⇣</a></li>
          <li><span style='background:#2E3191;'></span>CT <a class="aj-collapse" rel="ct">Thoroughfare Commercial&nbsp;⇣</a></li>
          <li><span style='background:#F37920;'></span>PA <a class="aj-collapse" rel="pa">Professional and Administrative Office&nbsp;⇣</a></li>
          <li><span style='background:#D43783;'></span>CB <a class="aj-collapse" rel="cb">Beach Commercial&nbsp;⇣</a></li>
          <li><span style='background:#B4892D;'></span>IG <a class="aj-collapse" rel="ig">General Industrial&nbsp;⇣</a></li>
          </ul>
          </div>
          </div>
          <div id="cbd" class="aj-hidden">
          <p class="closebtn"><a class="aj-collapse" rel="cbd">x</a></p>
          <p class="mini">CBD Central Business District</p>
          <p class="micro">Only found in Downtown Santa Cruz, this zoning allows most retail and food uses. Developed in the aftermath of the Loma Prieta earthquake, this district also includes a shared parking and marketing resources and has lower development impact fees.</p>
          <p class="micro">Ex. of principally permitted uses include: restaurants, shoes, boutiques, ice cream parlors, cafes and bike shops</p>
          <p class="micro">Ex. of uses that will require more staff review: barber shops, laundries and cleaning establishments, business and technical schools</p>
          <p class="micro">Ex. of uses that are not allowed include: Tattoo parlor, Heavy manufacturing, and ground floor professional and administrative uses along Pacific Avenue. </p>
          <p class="micro">Please read the <a href="http://www.codepublishing.com/CA/SantaCruz/html/SantaCruz24/SantaCruz2410.html#24.10.2300" target="_blank">Municipal Code</a> &#038; the <a href="http://www.cityofsantacruz.com/Modules/ShowDocument.aspx?documentid=8911" target="_blank">downtown recovery plan</a for a complete definition.</p>
          </div>
          <div id="cbde" class="aj-hidden">
          <p class="closebtn"><a class="aj-collapse" rel="cbde">x</a></p>
          <p class="mini">CBD-E Subdistrict Lower Pacific Ave</p>
          <p class="micro">
          Set up to help bridge the downtown to the beach area, this district encourages mixed uses that include commercial and recreational businesses. </p>
          <p class="micro">Ex. of principally permitted uses include: art galleries, restaurants, boutiques, cafes and dance studios </p>
          <p class="micro">Ex. of uses that will require more staff review: bars, meeting halls, off street parking facilities, convenience stores. </p>
          <p class="micro">Ex. of uses that are not allowed include: mortuaries, manufacturing</p>
          <p class="micro">Please read the <a href="http://www.codepublishing.com/CA/SantaCruz/html/SantaCruz24/SantaCruz2410.html#24.10.2360" target="_blank">Municipal Code</a> for a complete definition.
          </p>
          </div>
          <div id="cc" class="aj-hidden">
          <p class="closebtn"><a class="aj-collapse" rel="cc">x</a></p>
          <p class="mini">CC Community Commercial</p>
          <p class="micro">Primary zoning for most major commercial corridors, this district is set up to permit many different types of uses.</p>
          <p class="micro">Ex. of principally permitted uses include: Apparel stores, auto supply, restaurants, home furnishings, medical office</p>
          <p class="micro">Ex. of uses that will require more staff review: fast food, educational uses, bars &amp; brewpubs</p>
          <p class="micro">Ex. of uses that are not allowed include: no new drive-through businesses, no new industrial or manufacturing uses, no new ground floor residential uses</p>
          <p class="micro">Please read the <a href="http://www.codepublishing.com/CA/SantaCruz/html/SantaCruz24/SantaCruz2410.html#24.10.700" target="_blank">Municipal Code</a> for a complete definition.</p>
          </div>
          <div id="cn" class="aj-hidden">
          <p class="closebtn"><a class="aj-collapse" rel="cn">x</a></p>
          <p class="mini">CN Neighborhood Commercial</p>
          <p class="micro">A low density commercial district where the customers will primarily access shops and services on foot or via alternative transportation.</p>
          <p class="micro">Ex. of principally permitted uses include: Financial, insurance, real estate offices, Low Volume food uses and cafes</p>
          <p class="micro">Ex. of uses that will require more staff review: Convenience stores, athletic facilities, drug and department stores</p>
          <p class="micro">Ex. of uses that are not allowed include: Manufacturing</p>
          <p class="micro">Please read the <a href="http://www.codepublishing.com/CA/SantaCruz/html/SantaCruz24/SantaCruz2410.html#24.10.1000" target="_blank">Municipal Code</a> for a complete definition.</p>
          </div>
          <div id="ct" class="aj-hidden">
          <p class="closebtn"><a class="aj-collapse" rel="ct">x</a></p>
          <p class="mini">CT Thoroughfare Commercial</p>
          <p class="micro">This zone is only found close to state highways or other high traffic corridors and is set up to encourage high volume businesses.</p>
          <p class="micro">Ex. of principally permitted uses include: banks, clothing and soft goods, hotels, nurseries, smaller professional and administrative uses</p>
          <p class="micro">Ex. of uses that will require more staff review: Business and technical schools, cemeteries, recreation facilities, community care facilities, drive ins and drive thrus, social clubs</p>
          <p class="micro">Ex. of uses that are not allowed include: Heavy industry</p>
          <p class="micro">Please read the <a href="http://www.codepublishing.com/CA/SantaCruz/html/SantaCruz24/SantaCruz2410.html#24.10.900" target="_blank">Municipal Code</a> for a complete definition.</p>
          </div>
          <div id="pa" class="aj-hidden">
          <p class="closebtn"><a class="aj-collapse" rel="pa">x</a></p>
          <p class="mini">PA Professional and Administrative Office</p>
          <p class="micro">A buffer between a major thoroughfare and a low density residential neighborhood, this district is set up to encourage daytime, low volume professional uses.</p>
          <p class="micro">Ex. of principally permitted uses include: Most financial, insurance and real estate office, galleries and medical office (except vets / kennels)</p>
          <p class="micro">Ex. of uses that will require more staff review: Vets, Medical Clinics, Schools and Churches</p>
          <p class="micro">Ex. of uses that are not allowed include: Heavy Industry</p>
          <p class="micro">Please read the <a href="http://www.codepublishing.com/CA/SantaCruz/html/SantaCruz24/SantaCruz2410.html#24.10.1200" target="_blank">Municipal Code</a> for a complete definition.</p>
          </div>
          <div id="ig" class="aj-hidden">
          <p class="closebtn"><a class="aj-collapse" rel="ig">x</a></p>
          <p class="mini">IG General Industrial</p>
          <p class="micro">The primary place for making and assembling items for distribution and wholesale. Only found in Harvey West and the far Westside.</p>
          <p class="micro">Ex. of principally permitted uses include: Fabrication, Laborotories, Repairs, Alterations, Assembly and R&amp;D</p>
          <p class="micro">Ex. of uses that will require more staff review: Retail Uses, Chemical and Paper production, Rubber and Metal fabrication, Medical Marijuana Dispensaries</p>
          <p class="micro">Ex. of uses that are not allowed include: Any manufacturing use involving the primary production of products from new materials found to be incompatible with the neighborhood or the city as a whole based on noise, odor, air quality or other adverse environmental impact shall be prohibited.</p>
          <p class="micro">Please read the <a href="http://www.codepublishing.com/CA/SantaCruz/html/SantaCruz24/SantaCruz2410.html#24.10.1500" target="_blank">Municipal Code</a> for a complete definition.</p>
          </div>
          <div id="cb" class="aj-hidden">
          <p class="closebtn"><a class="aj-collapse" rel="cb">x</a></p>
          <p class="mini">CB Beach Commercial</p>
          <p class="micro">Uses that primarily serve visitors near the beach.</p>
          <p class="micro">Ex. of principally permitted uses include: Ice cream parlor, Surf shop, and bike rental.</p>
          <p class="micro">Ex. of uses that are not allowed include:Tattoo parlor, Heavy manufacturing, and Medical Marijuana clinic.</p>
          <p class="micro">Please read the <a href="http://www.codepublishing.com/CA/SantaCruz/html/SantaCruz24/SantaCruz2410.html#24.10.1100" target="_blank">Municipal Code</a> for a complete definition.</p>
          </div>
          <p class="b">Please note how the prior use of your chosen site compares to your intended use.
          <p class="s">If you read the full definition of your site&#8217;s zoning district, try to understand if and how your intended use is permitted.</p>
          -->
          
        </div><!-- /#location_non_home_occ_choose_site -->