<h1>New User</h1>

<%= form_for(:admin_user, :url => admin_admin_users_path, :html => {:method => :post}) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>

  <div class="actions">
    <br />
    <%= f.submit 'Save', :class => 'btn btn-success btn-large' %>
    &nbsp;&nbsp;
    <%= link_to 'Cancel', admin_admin_users_path %>
  </div>
<% end %>
