<div class="page-header">
  <h1>Admissions Tax</h1>
</div>

<div class="row-fluid">
  <p class="lead">Some Cities in California, like San Francisco and Pasadena, charge an admissions tax. Santa Cruz established an admissions tax in 1985. If you&rsquo;d like to read the municipal code section, click <a href=" http://www.codepublishing.com/CA/SantaCruz/html/SantaCruz03/SantaCruz0336.html#3.36" target="_blank">here</a>.</p>
 
  <p>If your business is involved in &ldquo;entertainment, amusement or recreation,&rdquo; and if you will charge admission to your venue or place of business, it&rsquo;s your responsibility to register with the city and remit admissions tax on a monthly basis. This tax applies to movie theaters, music halls, bowling alleys gyms and other kinds of businesses. It also applies to events held in the City of Santa Cruz where admissions are charged.</p>
  
  <p>The tax is 5% on the price of admission or registration for events within the city limits of Santa Cruz. For example, an admission of $5.00 would be taxed $.25; for a total of $5.25 to be collected. The tax collected is remitted to the City Finance Department. Complete background on the tax can be found at the City&rsquo;s <a href="http://www.cityofsantacruz.com/index.aspx?page=250" target="_blank">website</a>.</p>
  
  <p class="lead">We&rsquo;ll need this additional information to get you registered to collect admissions tax:</p>
  
  <form>

    <div class="control-group">
      <label class="control-label">Business Name</label>
      <div class="controls"><input type="text" name="business_name" placeholder="" value="<%= answers.business_name %>"></div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Applicant First Name</label>
      <div class="controls"><input type="text" name="applicant_first_name" placeholder="" value="<%= answers.applicant_first.name %>"></div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Applicant Last Name</label>
      <div class="controls"><input type="text" name="applicant_last_name" placeholder="" value="<%= answers.applicant_last.name %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">What type of business is this?</label>
      <div class="controls">
        <select name="business_structure" class="input-xxlarge">
          <option value="unknown"                       <%= (answers.business_structure === 'unknown') ? 'selected="selected"' : '' %>                        >Not sure, don&rsquo;t know, or haven&rsquo;t decided yet</option>
          <option value="individual"                    <%= (answers.business_structure === 'individual') ? 'selected="selected"' : '' %>                     >an Individual (Sole Proprietorship)</option>
          <option value="general_partnership"           <%= (answers.business_structure === 'general_partnership') ? 'selected="selected"' : '' %>            >a General Partnership (GP)</option>
          <option value="limited_partnership"           <%= (answers.business_structure === 'limited_partnership') ? 'selected="selected"' : '' %>            >a Limited Partnership (LP)</option>
          <option value="limited_liability_company"     <%= (answers.business_structure === 'limited_liability_company') ? 'selected="selected"' : '' %>      >a Limited Liability Company (LLC)</option>
          <option value="limited_liability_partnership" <%= (answers.business_structure === 'limited_liability_partnership') ? 'selected="selected"' : '' %>  >a Limited Liability Partnership (LLP)</option>
          <option value="association"                   <%= (answers.business_structure === 'association') ? 'selected="selected"' : '' %>                    >an Unincorporated Association other than a Partnership</option>
          <option value="corporation"                   <%= (answers.business_structure === 'corporation') ? 'selected="selected"' : '' %>                    >a Corporation</option>
          <option value="trust"                         <%= (answers.business_structure === 'trust') ? 'selected="selected"' : '' %>                          >a Trust</option>
          <option value="copartner"                     <%= (answers.business_structure === 'copartner') ? 'selected="selected"' : '' %>                      >Copartners</option>
          <option value="married"                       <%= (answers.business_structure === 'married') ? 'selected="selected"' : '' %>                        >Husband and Wife</option>
          <option value="joint_venture"                 <%= (answers.business_structure === 'joint_venture') ? 'selected="selected"' : '' %>                  >a Joint Venture</option>
          <option value="domestic_partners"             <%= (answers.business_structure === 'domestic_partners') ? 'selected="selected"' : '' %>              >State or Local Registered Domestic Partners</option>
        </select>
        <!-- The Admissions tax needs to know whether the business is a sole proprietorship (=> individual), partnership (=>general_partnership, limited_partnership, limited_liability_partnership), or corporation -->
        <!-- We need to map 'sole proprietorship' 'partnership' and 'corporation' to the business structures we use elsewhere in OpenCounter -->
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Date of Occupancy</label>
      <div class="controls"><input type="text" name="business_date_of_occupancy" placeholder="" value="<%= answers.business_date_of_occupancy %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Business Mailing Address</label>
      <div class="controls"><input type="text" name="business_mailing_address_street" value="<%= answers.business_mailing_address_street %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">City</label>
      <div class="controls"><input type="text" name="business_mailing_address_city" value="<%= answers.business_mailing_address_city %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">State</label>
      <div class="controls"><input type="text" name="business_mailing_address_state" value="<%= answers.business_mailing_address_state %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">ZIP</label>
      <div class="controls"><input type="text" name="business_mailing_address_zip" value="<%= answers.business_mailing_address_zip %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Please describe your taxable operations.</label>
      <div class="controls"><input type="text" name="operations" placeholder="i.e. membership, ticket sales..." value="<%= answers.taxable.operations %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Number of Amusement Devices</label>
      <div class="controls"><input type="text" name="amusement devices" placeholder="i.e. pinball, video games..." value="<%= answers.amusement_devices %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Frequency of Events</label>
      <div class="controls">
        <select name="event_frequency" class="input-xxlarge">
          <option value="daily"   <%= (answers.event_frequency === 'daily') ? 'selected="selected"' : '' %>  >Daily</option>
          <option value="weekly"  <%= (answers.event_frequency === 'weekly') ? 'selected="selected"' : '' %> >Weekly</option>
          <option value="monthly" <%= (answers.event_frequency === 'monthly') ? 'selected="selected"' : '' %>>Monthly</option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Your Business&rsquo;s Phone Number</label>
      <div class="controls"><input type="text" name="business_phone" placeholder="(###) ###-####" value="<%= answers.applicant_phone %>"></div>
    </div>

  </form>
  
  <p>Please remember, if the operator or ownership changes, the City will request a new application.</p>

</div>