<div class="page-header">
  <h1>Building Permit</h1>
</div>

<div class="row-fluid">
  <p>Will you be doing tenant improvements or renovation?</p>
  
  <p class="next"><a href="#" id="yes_building_permit">Yes, I will be doing some renovation work.</a></p>
  <p class="next" data-occupancy="non-home">No. Next: <a class="submit" href="/requirements/city/parking">Parking &rarr;</a></p>
  <p class="next" data-occupancy="home">No. Next: <a class="submit" href="/requirement/city/business_license">Business License &rarr;</a></p>
  
  <!-- @condition YES CONSTRUCTION -->
  
  <p>Getting a Building Permit is a multi-step process, and is best accomplished working with a certified architect, engineer or design professional.</p>
  <p>Typically, the process begins with an initial submittal of plans drawn up to scale. The building division takes these plans and routes them around the City for experts to check. Typically, plans are reviewed by a number of City Departments including building, fire, public works and water. You'll get separate comments back from each of these departments.</p>
  <p>After review, you'll receive comments which you'll have to address in the next revision of the plans. Once all open issues are sorted, you'll be issued an building permit, which you'll post at your worksite.</p>
  <p>Once you've passed final inspections on site, you'll receive a "Certificate of Occupancy" from the Building division for your commercial space, which means its safe and fully permitted for the public to utilize.</p>
  <p>This process does have charges associated with it to capture the labor costs the City undertakes to review the plans. Rates are calculated both on the complexity of the project and the valuation of the build.</p>
  <p>A general guideline is that a building permit will cost between 5-10% of the value of the building project that you'll undertake.</p>
  
  <div class="conditional">
    
  <p>Fill in as much as you can below.</p>
  <form method="post" action="#" id="form_building_permit">
    
    
    <div class="control-group">
      <label class="control-label">Date</label>
      <div class="controls"><input type="text" name="date" placeholder="" value="<%= Time.now.strftime("%m/%d/%Y") %>"></div>
    </div>
       
    <div class="control-group">
      <label class="control-label">Business Physical Address</label>
      <div class="controls"><input type="text" name="business_physical_address_street" placeholder="" value="<%= answers.business_physical_address_street %>"></div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Suite or Office Number</label>
      <div class="controls"><input type="text" name="business_physical_address_detail" placeholder="" value="<%= answers.business_physical_address_detail %>"></div>
    </div>
 
    <div class="control-group">
      <label class="control-label">City</label>
      <div class="controls"><input type="text" name="business_physical_address_city" placeholder="" value="<%= answers.business_physical_address_city %>"></div>
    </div>    

    <div class="control-group">
      <label class="control-label">State</label>
      <div class="controls"><input type="text" name="business_physical_address_state" placeholder="" value="<%= answers.business_physical_address_state %>"></div>
    </div>    
    
    <div class="control-group">
      <label class="control-label">ZIP</label>
      <div class="controls"><input type="text" name="business_physical_address_zip" placeholder="" value="<%= answers.business_physical_address_zip %>"></div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Role of Applicant </label>
      <div class="controls"><input type="text" name="Applicant Role" placeholder="" value="<%= answers.applicant_role %>"></div>
    </div>        
    
    <div class="control-group">
      <label class="control-label">Applicant First Name</label>
      <div class="controls"><input type="text" name="applicant_first_name" placeholder="" value="<%= answers.applicant_first.name %>"></div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Applicant Last Name</label>
      <div class="controls"><input type="text" name="applicant_last_name" placeholder="" value="<%= answers.applicant_last.name %>"></div>
    </div>  

    <div class="control-group">
      <label class="control-label">Applicant Address</label>
      <div class="controls"><input type="text" name="applicant_physical_address_street" placeholder="" value="<%= answers.applicant_physical_address_street %>"></div>
    </div>      

    <div class="control-group">
      <label class="control-label">Suite or Office Number</label>
      <div class="controls"><input type="text" name="applicant_physical_address_detail" placeholder="" value="<%= answers.applicant_physical_address_street %>"></div>
    </div> 

    <div class="control-group">
      <label class="control-label">Applicant City</label>
      <div class="controls"><input type="text" name="applicant_physical_address_city" placeholder="" value="<%= answers.applicant_physical_address_city %>"></div>
    </div>     

    <div class="control-group">
      <label class="control-label">Applicant State</label>
      <div class="controls"><input type="text" name="applicant_physical_address_state" placeholder="" value="<%= answers.applicant_physical_address_state %>"></div>
    </div>     

    <div class="control-group">
      <label class="control-label">Applicant ZIP</label>
      <div class="controls"><input type="text" name="applicant_physical_address_zip" placeholder="" value="<%= answers.applicant_physical_address_zip %>"></div>
    </div>  

    <div class="control-group">
      <label class="control-label">Applicant Phone</label>
      <div class="controls"><input type="text" name="applicant_phone" placeholder="" value="<%= answers.applicant_phone %>"></div>
    </div>  

    <div class="control-group">
      <label class="control-label">Applicant email</label>
      <div class="controls"><input type="text" name="applicant_email" placeholder="" value="<%= answers.applicant_email %>"></div>
    </div>       
    
    <div class="control-group">
      <label class="control-label">Assessors Parcel Number</label>
      <div class="controls"><input type="text" name="APN" placeholder="" value="<%= answers.apn %>"></div>
    </div>
  
    <div class="control-group">
      <label class="control-label">Building Square Footage </label>
      <div class="controls"><input type="text" name="building_square_footage_ground" placeholder="" value="<%= answers.building_square_footage_ground %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Building Height (In Feet)</label>
      <div class="controls"><input type="text" name="building_height_feet" placeholder="" value="In feet"></div>
    </div>    

    <div class="control-group">
      <label class="control-label">Building Height (In stories)</label>
      <div class="controls"><input type="text" name="building_height_stories" placeholder="" value="In stories"></div>
    </div>        
    
    <div class="control-group">
      <label class="control-label">Role of Building Professional </label>
      <div class="controls"><input type="text" name="building_professional_role" placeholder="" value="Architect, Engineer, Design Professional"></div>
    </div>  

    <div class="control-group">
      <label class="control-label">Role of Building Professional </label>
      <div class="controls"><input type="text" name="building_professional_role" placeholder="" value="Architect, Engineer, Design Professional"></div>
    </div>      
   
    <div class="control-group">
      <label class="control-label">Building Professional's First Name</label>
      <div class="controls"><input type="text" name="building_professional_first_name" placeholder="" value="First Name"></div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Building Professional's Last Name</label>
      <div class="controls"><input type="text" name="building_professional_last_name" placeholder="" value="Last Name"></div>
    </div>  

    <div class="control-group">
      <label class="control-label">Building Professional's Address</label>
      <div class="controls"><input type="text" name="building_professional_physical_address_street" placeholder="" value="123 Main Street"></div>
    </div>      

    <div class="control-group">
      <label class="control-label">Suite or Office Number</label>
      <div class="controls"><input type="text" name="building_professional_physical_address_detail" placeholder="" value="Suite 100"></div>
    </div> 

    <div class="control-group">
      <label class="control-label">City</label>
      <div class="controls"><input type="text" name="building_professional_physical_address_city" placeholder="" value="Santa Cruz"></div>
    </div>     

    <div class="control-group">
      <label class="control-label">State</label>
      <div class="controls"><input type="text" name="building_professional_physical_address_state" placeholder="" value="CA"></div>
    </div>     

    <div class="control-group">
      <label class="control-label">ZIP</label>
      <div class="controls"><input type="text" name="building_professional_physical_address_zip" placeholder="" value="95060"></div>
    </div>  

    <div class="control-group">
      <label class="control-label">Building Professional Phone</label>
      <div class="controls"><input type="text" name="building_professional_phone" placeholder="" value="(831) 123-4567"></div>
    </div>  

    <div class="control-group">
      <label class="control-label">Building Professional email</label>
      <div class="controls"><input type="text" name="building_professional_email" placeholder="" value="ben@builders.com"></div>
    </div>           
    
    <div class="control-group">
      <label class="control-label">Building Professional License Number</label>
      <div class="controls"><input type="text" name="building_professional_license" placeholder="" value="CA license #"></div>
    </div>               
 
   <p>Building Division Staff will help with the information below after you sumbit through OpenCounter.</p>   
 
    <div class="control-group">
      <label class="control-label">Expansion Plan Check Due Date</label>
      <div class="controls"><input type="text" name="building_expansion_plan_check_due_date" placeholder="" value="Supplied by Building Division Staff"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Occupancy Class</label>
      <div class="controls"><input type="text" name="building_occupancy_class" placeholder="" value="Supplied by Building Division Staff"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Construction Type</label>
      <div class="controls"><input type="text" name="building_construction_type" placeholder="" value="Supplied by Building Division Staff"></div>
    </div>

   <div class="control-group">
      <label class="control-label">Sprinklers?</label>
      <div class="controls"><input type="text" name="building_sprinklers" placeholder="" value="Supplied by Building Division Staff"></div>
    </div>

   <div class="control-group">
      <label class="control-label">Do Traffic Impact Fees Apply?</label>
      <div class="controls"><input type="text" name="building_TIF" placeholder="" value="Supplied by Building Division Staff"></div>
    </div>

   <div class="control-group">
      <label class="control-label">Quimby Fees Apply?</label>
      <div class="controls"><input type="text" name="building_quimby" placeholder="" value="Supplied by Building Division Staff"></div>
    </div>
   
  </form>
  </div>
  
  <!-- @condition NO CONSTRUCTION -->
  <p class="next" data-occupancy="non-home">Next: <a class="submit" href="/requirements/city/parking">Parking &rarr;</a></p>
  <p class="next" data-occupancy="home">Next: <a class="submit" href="/requirements/city/business_license">Business License &rarr;</a></p>
  <!-- @condition /NO CONSTRUCTION -->
  
</div>
