<div class="page-header">
  <h1>Business License</h1>
</div>

<div class="row-fluid">
  <p class="lead">Everyone who operates a business in the City needs to register with the City's Finance department for a business license. This is an annual requirement that the City uses to track who makes up our business community and what they are doing.</p>
  <p class="lead">The fees for this are $145.15 plus employees fees of $2.55, $4.95, or $7.40 for each employee depending on your type of business. It's important to remember that you'll be responsible for this fee even if you conduct business for a single day (the fee will be pro-rated). </p>
  <p class="lead">You are exempt from the fee if your business is a registered nonprofit organization.</p>
  <p class="lead">Fees for your business license are used to support general city services, including police and fire protection, as well as for the services supplied by the City's Finance, Planning and Community Development Staff and other City Administrative Functions.</p>
  <p class="lead">After you register with the City, we'll sent a once a year renewal letter to you.</p>

  <hr>
  
  <% if (answers.CIC_industry_subindustry) { %>

    <p class="lead">You've told us that your business is a <strong><%= answers.CIC_industry_subindustry %> (code <%= answers.CIC_code %>)</strong>.</p>
  
    <form>
      <label class="radio">
        What type of business is this?
        <p><input type="radio" name="business_type_class" value="class-a"> Retail, wholesale, contract, construction, or manufacturing</p>
        <p><input type="radio" name="business_type_class" value="class-b"> Services, hotels and motels, apartment houses, commercial property renting or leasing, recreation and entertainment services and facilities</p>
        <p><input type="radio" name="business_type_class" value="nothing"> Professions including, but not limited to, accountants, architects, attorneys, auctioneers, chiropractors, dentists, engineers, insurance brokers, medical/health professions, physicians, real estate brokers, security brokers, and veterinarians  </p>
      </label>
      
      <div class="form-controls">
        <label>How many employees do you have?</label>
        <input type="text" name="employee_count" value="<%= answers.employee_count %>">
      </div>
      
    </form>
  
    <p class="fee">The fee for the business license will be: <span id="business_license_fee" style="border: 1px dotted #CCC; background: #EEE;padding: 0.5em 10px;">&nbsp;</span></p>
  
 <p class="lead">We&rsquo;ll need this additional information to get you registered for a business license:</p>
  
  <form>

    <div class="control-group">
      <label class="control-label">Business Name</label>
      <div class="controls"><input type="text" name="business_name" value="<%= answers.business_name %>"></div>
    </div>
    
        <div class="control-group">
      <label class="control-label">Business Physical Address</label>
      <div class="controls"><input type="text" name="business_physical_address_street" value="<%= answers.business_physical_address_street %>"></div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Suite or Office Number</label>
      <div class="controls"><input type="text" name="business_physical_address_detail" value="<%= answers.business_physical_address_detail %>"></div>
    </div>
 
    <div class="control-group">
      <label class="control-label">City</label>
      <div class="controls"><input type="text" name="business_physical_address_city" value="<%= answers.business_physical_address_city %>"></div>
    </div>    

    <div class="control-group">
      <label class="control-label">State</label>
      <div class="controls"><input type="text" name="business_physical_address_state" value="<%= answers.business_physical_address_state %>"></div>
    </div>    
    
    <div class="control-group">
      <label class="control-label">ZIP</label>
      <div class="controls"><input type="text" name="business_physical_address_zip" value="<%= answers.business_physical_address_zip %>"></div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Your Business&rsquo;s Phone Number</label>
      <div class="controls"><input type="text" name="business_phone" placeholder="(###) ###-####" value="<%= answers.business_phone %>"></div>
    </div>
  
    <div class="control-group">
      <label class="control-label">Applicant First Name</label>
      <div class="controls"><input type="text" name="applicant_first_name" value="<%= answers.applicant_first_name %>"></div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Applicant Last Name</label>
      <div class="controls"><input type="text" name="applicant_last_name" value="<%= answers.applicant_last_name %>"></div>
    </div>  

    <div class="control-group">
      <label class="control-label">Applicant Address</label>
      <div class="controls"><input type="text" name="applicant_physical_address_street" value="<%= answers.applicant_physical_address_street %>"></div>
    </div>      

    <div class="control-group">
      <label class="control-label">Suite or Office Number</label>
      <div class="controls"><input type="text" name="applicant_physical_address_detail" value="<%= answers.applicant_physical_address_street %>"></div>
    </div> 

    <div class="control-group">
      <label class="control-label">Applicant City</label>
      <div class="controls"><input type="text" name="applicant_physical_address_city" value="<%= answers.applicant_physical_address_city %>"></div>
    </div>     

    <div class="control-group">
      <label class="control-label">Applicant State</label>
      <div class="controls"><input type="text" name="applicant_physical_address_state" value="<%= answers.applicant_physical_address_state %>"></div>
    </div>     

    <div class="control-group">
      <label class="control-label">Applicant ZIP</label>
      <div class="controls"><input type="text" name="applicant_physical_address_zip" value="<%= answers.applicant_physical_address_zip %>"></div>
    </div>  

    <div class="control-group">
      <label class="control-label">Applicant Phone</label>
      <div class="controls"><input type="text" name="applicant_phone" value="<%= answers.applicant_phone %>"></div>
    </div>  

    <div class="control-group">
      <label class="control-label">Applicant email</label>
      <div class="controls"><input type="text" name="applicant_email" value="<%= answers.applicant_email %>"></div>
    </div>       

      <div class="control-group">
      <label class="control-label">Co-Applicant  Name</label>
      <div class="controls"><input type="text" name="coapplicant_name" value="<%= answers.coapplicant_name %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Co-Applicant Address</label>
      <div class="controls"><input type="text" name="coapplicant_physical_address_street" value="<%= answers.coapplicant_physical_address_street %>"></div>
    </div>      

    <div class="control-group">
      <label class="control-label">Suite or Office Number</label>
      <div class="controls"><input type="text" name="coapplicant_physical_address_detail" value="<%= answers.coapplicant_physical_address_street %>"></div>
    </div> 

    <div class="control-group">
      <label class="control-label">City</label>
      <div class="controls"><input type="text" name="coapplicant_physical_address_city" value="<%= answers.coapplicant_physical_address_city %>"></div>
    </div>     

    <div class="control-group">
      <label class="control-label">State</label>
      <div class="controls"><input type="text" name="coapplicant_physical_address_state" value="<%= answers.coapplicant_physical_address_state %>"></div>
    </div>     

    <div class="control-group">
      <label class="control-label">ZIP</label>
      <div class="controls"><input type="text" name="coapplicant_physical_address_zip" value="<%= answers.coapplicant_physical_address_zip %>"></div>
    </div>  

    <div class="control-group">
      <label class="control-label">Co-Applicant Phone</label>
      <div class="controls"><input type="text" name="coapplicant_phone" value="<%= answers.coapplicant_phone %>"></div>
    </div>  

    <div class="control-group">
      <label class="control-label">Co-Applicant Email</label>
      <div class="controls"><input type="text" name="coapplicant_email" value="<%= answers.coapplicant_email %>"></div>
    </div>    
  
    <div class="control-group">
      <label class="control-label">Emergency Contact</label>
      <div class="controls"><input type="text" name="emergency_contact" value="<%= answers.emergency_contact %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Business Structure</label>
      <div class="controls"><input type="text" name="business_structure" value="<%= answers.business_structure %>"></div>
    </div>

    <!-- These two should probably be replaced with a standard SIC code, but I don't know what the Database value is on that, or if the concordance script is still working -->
    
    <div class="control-group">
      <label class="control-label">Business Type / Use Code</label>
      <div class="controls"><input type="text" name="CIC_code" value="<%= answers.CIC_code %>"></div>
    </div>    

    <div class="control-group">
      <label class="control-label">Business Category</label>
      <div class="controls"><input type="text" name="CIC_industry_subindustry" value="<%= answers.CIC_industry_subindustry %>"></div>
    </div>    

    <div class="control-group">
      <label class="control-label">Start Date</label>
      <div class="controls"><input type="text" name="business_date_of_occupancy" value="<%= answers.business_date_of_occupancy %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Number of Units (for rental properties)</label>
      <div class="controls"><input type="text" name="business_number_of_units" value="<%= answers.business_number_of_units %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Building Square Footage </label>
      <div class="controls"><input type="text" name="building_square_footage_ground" value="<%= answers.building_square_footage_ground %>"></div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Assessors Parcel Number</label>
      <div class="controls"><input type="text" name="APN" value="<%= answers.apn %>"></div>
    </div>

    
   <p>Finance  Staff will help with the information below after you sumbit through OpenCounter.</p>   
 

    <div class="control-group">
      <label class="control-label">Building Professional (Contractor's) License Number</label>
      <div class="controls"><input type="text" name="building_professional_license" value="<%= answers.building_professional_license %>"></div>
    </div>  


    <div class="control-group">
      <label class="control-label">State ID #</label>
      <div class="controls"><input type="text" name="state_ID" value="<%= answers.state_ID %>"></div>
    </div>  

    <div class="control-group">
      <label class="control-label">State Reseller's ID #</label>
      <div class="controls"><input type="text" name="state_reseller_ID" value="<%= answers.state_reseller_ID %>"></div>
    </div>  

    <div class="control-group">
      <label class="control-label">Federal FIN / EIN </label>
      <div class="controls"><input type="text" name="federal_EIN" value="<%= answers.federal_EIN %>"></div>
    </div>  

  <% } %>
  
  <div class="form-submit">
    <a href="<%= nextRequirementHref %>" class="btn btn-large btn-info"><%= nextRequirementName %> &rarr;</a>
  </div>
  
<!-- 

In order to calculate the fee, we need to know
whether this business is Class A, Class B, or Class C.

See: http://www.cityofsantacruz.com/index.aspx?page=764

Class A: $145.15 base tax plus $2.55 per employee
Class B: $145.15 base tax plus $4.95 per employee
Class C: $145.15 base tax plus $7.40 per employee

=======================================

var base_tax = 145.15,
    employees = [employee_count],
    class = [business_type_class],
    employee_rate,
    total;

switch(class) {
    case 'class-a':
        employee_rate = 2.55;
        break;
    case 'class-b':
        employee_rate = 4.95;
        break;
    case 'class-c':
        employee_rate = 7.40;
        break;
    default:
        // throw exception
        break;
}

// Formula from http://www.cityofsantacruz.com/index.aspx?page=764
total = base_tax + (employee_rate * employees);

// Round to nearest cent
total = Math.round(100 * total) / 100;

-->

</div>
