<div class="page-header">
  <h1>Planning Permit</h1>
</div>

<div class="row-fluid">
  <div class="span8">
    <p class="lead">The type of planning permit your business needs depends on whether and how your zoning district permits your use.</p>
    <p class="lead">Charges for planning permits are paid on a one-time only basis.</p>
    <p class="lead">Planning permits are based upon your business in a specific location. So, if you move in the future, you&rsquo;ll need a new planning permit.</p>
  </div>
</div>

<hr>

<div class="row-fluid">

  <div class="span4">
    <h4>Is your use principally permitted?<br>You need a zoning clearance.</h4>
    <p>If the zoning code specifically allows your type of business to operate at the site you chose, great!</p>
    <p>All you need is a Zoning Clearance. This is the simplest form of a planning permit, and is typically issued the same day, with minimal review.</p>
  </div>

  <div class="span4">
    <h4>Is your use not principally permitted?<br>You need a use permit.</h4>
    <p>If your use is not principally permitted, you will need either an Administrative Use Permit or a Special Use Permit. These kind of permits require a public hearing.</p>
    <dl>
      <dt>Administrative Use Permit (<abbr title="Administrative Use Permit">AUP</abbr>)</dt>
      <dd>This kind of application requires more staff analysis, and more information from the applicant. These permits entail a public hearing before the Zoning Administrator, and can take approximately 8-10 weeks to work their way through to completion. This public hearing is before the Zoning Administrator, a planning professional.</dd>
      <dt>Special Use Permit (<abbr title="Special Use Permit">SUP</abbr>)</dt>
      <dd>Requires a high level of scrutiny, typically due to the size of the project and its impact on the neighborhood. These applications go to Planning Commission, a panel of seven City Council appointees who meet twice a month. SUPs take 8-12 weeks.</dd>
    </dl>
  </div>

  <div class="span4">
    <h4>Is your use prohibited?<br>Choose a different location.</h4>
    <p>If your use is explicitly prohibited, you should probably choose a different site for your business.</p>
    <p>The alternative, changing the zoning for that property, is very difficult, rare, and can take years. It is not recommended, but you are welcome to <a href="/help">contact the Planning Department</a> for more information.</p>
  </div>

</div>

<hr>

<div class="row-fluid">
  
  <div class="span12 well">

  <% if (!answers.location_type) { %>
    <p class="lead">You haven&rsquo;t yet told us your business&rsquo;s location.</p>
    <p class="next lead">Go back and <a href="/location">tell us whether you&rsquo;re working from home or a commercial space &rarr;</a></p>
  <% } else { %>
    
    <% if (!answers.required_permit) { %>
      <p class="lead">You&rsquo;ve told us that you&rsquo;re <strong>working <% if (answers.location_type === "home") { %>from home<% } else { %>out of a commercial space<% } %></strong>, but you haven&rsquo;t yet told us the location.</p>
      <p class="next lead">Go back and <a href="/location/check">check the site&rsquo;s zoning &rarr;</a></p>
    <% } else { %>
    
      <% if (answers.location_type === "home") { %>
        
        <p>You&rsquo;ve told us that you&rsquo;re <strong>working from home</strong> at <strong><%= answers.business_physical_address_street %></strong>, and you&rsquo;ve confirmed that your business complies with Santa Cruz Municipal Code 24.10.160.</p>
        
        <% if (answers.required_permit.home_occ_prohibited == true) { %>

        <p class="lead error">We&rsquo;re sorry, but work-from-home businesses are not allowed in this zoning district. <a href="/help">Talk to a planner &rarr;</a></p>

        <% } else { %>

        <p class="lead success">The use permit you need is a <em>Zoning Clearance</em>. You&rsquo;ll need to submit it to the Planning Department, and the fee is <strong>$221.00</strong>.</p>

        <p class="lead">We'll need this additional information:</p>
        <form method="post" action="#" id="form_zoning_clearance">

          <div class="control-group">
            <label class="control-label">Your Phone Number</label>
            <div class="controls"><input type="text" name="applicant_phone" placeholder="(###) ###-####" value="<%= answers.applicant_phone %>"></div>
          </div>

          <div class="control-group">
            <label class="control-label">Your Business&rsquo;s Phone Number</label>
            <div class="controls"><input type="text" name="business_phone" placeholder="(###) ###-####" value="<%= answers.applicant_phone %>"></div>
          </div>

          <div class="control-group">
            <label class="control-label">Date of Occupancy</label>
            <div class="controls"><input type="text" name="business_date_of_occupancy" placeholder="" value="<%= answers.business_date_of_occupancy %>"></div>
          </div>

          <div class="control-group">
            <label class="control-label">Previous Use</label>
            <div class="controls"><input type="text" name="prior_use" placeholder="" value="<%= answers.prior_use %>"></div>
          </div>

          <div class="control-group">
            <label class="control-label">Area (Total), in square feet</label>
            <div class="controls"><input type="text" name="area_total" placeholder="" value="<%= answers.area_total %>"></div>
          </div>

          <div class="control-group">
            <label class="control-label">Area (First Floor), in square feet</label>
            <div class="controls"><input type="text" name="area_first_floor" placeholder="" value="<%= answers.area_first_floor %>"></div>
          </div>

          <div class="control-group">
            <label class="control-label">Area (Outdoor)</label>
            <div class="controls"><input type="text" name="area_outdoor" placeholder="" value="<%= answers.area_outdoor %>"></div>
          </div>

          <div class="control-group">
            <label class="control-label">Single or multi-tenant?</label>
            <div class="controls">
              <input type="checkbox" name="is_single_tenant" <% if (answers.is_single_tenant) { %>checked="checked"<% } %>> Single Tenant
              <input type="checkbox" name="is_multi_tenant"  <% if (answers.is_multi_tenant)  { %>checked="checked"<% } %>> Multi Tenant
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">How many car parking spaces?</label>
            <div class="controls"><input type="text" name="car_parking_spaces" placeholder="" value="<%= answers.car_parking_spaces %>"></div>
          </div>

          <div class="control-group">
            <label class="control-label">How many bicycle parking spaces?</label>
            <div class="controls"><input type="text" name="bicycle_parking_spaces" placeholder="" value="<%= answers.bicycle_parking_spaces %>"></div>
          </div>

        </form>

        <% } %>
        
      <% } else { %>
      
        <p>You&rsquo;ve told us that you&rsquo;re <strong>working from a commercial space</strong> at <strong><%= answers.business_physical_address_street %></strong>, and your business is categorized as <strong><%= answers.CIC_industry_subindustry %> (code <%= answers.CIC_code %>)</strong></p>
        
        <% if (answers.required_permit.permit == "1") { %>

          <p>This use is principally permitted, so you&rsquo;ll need a <em>Zoning Clearance</em>. You&rsquo;ll need to submit it to the Planning Department, and the fee is <strong>$221.00</strong>.</p>

          <p class="lead">We'll need this additional information:</p>
          <form method="post" action="#" id="form_zoning_clearance">
  
            <div class="control-group">
              <label class="control-label">Your Phone Number</label>
              <div class="controls"><input type="text" name="applicant_phone" placeholder="(###) ###-####" value="<%= answers.applicant_phone %>"></div>
            </div>
  
            <div class="control-group">
              <label class="control-label">Your Business&rsquo;s Phone Number</label>
              <div class="controls"><input type="text" name="business_phone" placeholder="(###) ###-####" value="<%= answers.applicant_phone %>"></div>
            </div>
  
            <div class="control-group">
              <label class="control-label">Date of Occupancy</label>
              <div class="controls"><input type="text" name="business_date_of_occupancy" placeholder="" value="<%= answers.business_date_of_occupancy %>"></div>
            </div>
  
            <div class="control-group">
              <label class="control-label">Previous Use</label>
              <div class="controls"><input type="text" name="prior_use" placeholder="" value="<%= answers.prior_use %>"></div>
            </div>
  
            <div class="control-group">
              <label class="control-label">Area (Total), in square feet</label>
              <div class="controls"><input type="text" name="area_total" placeholder="" value="<%= answers.area_total %>"></div>
            </div>
  
            <div class="control-group">
              <label class="control-label">Area (First Floor), in square feet</label>
              <div class="controls"><input type="text" name="area_first_floor" placeholder="" value="<%= answers.area_first_floor %>"></div>
            </div>
  
            <div class="control-group">
              <label class="control-label">Area (Outdoor)</label>
              <div class="controls"><input type="text" name="area_outdoor" placeholder="" value="<%= answers.area_outdoor %>"></div>
            </div>
  
            <div class="control-group">
              <label class="control-label">Single or multi-tenant?</label>
              <div class="controls">
                <input type="checkbox" name="is_single_tenant" <% if (answers.is_single_tenant) { %>checked="checked"<% } %>> Single Tenant
                <input type="checkbox" name="is_multi_tenant"  <% if (answers.is_multi_tenant)  { %>checked="checked"<% } %>> Multi Tenant
              </div>
            </div>
  
            <div class="control-group">
              <label class="control-label">How many car parking spaces?</label>
              <div class="controls"><input type="text" name="car_parking_spaces" placeholder="" value="<%= answers.car_parking_spaces %>"></div>
            </div>
  
            <div class="control-group">
              <label class="control-label">How many bicycle parking spaces?</label>
              <div class="controls"><input type="text" name="bicycle_parking_spaces" placeholder="" value="<%= answers.bicycle_parking_spaces %>"></div>
            </div>
  
          </form>

        <% } else if (answers.required_permit.permit == "2") { %>

          <p>This use is not principally permitted, so you&rsquo;ll need an <em>Administrative Use Permit</em>. <a href="/help" class="btn btn-large">Talk to a planner for next steps &rarr;</a></p>
        
        <% } else if (answers.required_permit.permit == "3") { %>

          <p>This use is not principally permitted, so you&rsquo;ll need a <em>Special Use Permit</em>. <a href="/help" class="btn btn-large">Talk to a planner for next steps &rarr;</a></p>

        <% } else if (answers.required_permit.permit == "4") { %>
        
          <p>We&rsquo;re sorry, but businesses of this type are prohibited in this zoning district. <a href="/help" class="btn btn-large">Talk to a planner for next steps &rarr;</a></p>

        <% } else if (answers.required_permit.permit == "5") { %>

          <p>We&rsquo;re sorry, but right now OpenCounter can&rsquo;t automatically determine what type of use permit you need.</p>
          <p>Help us make OpenCounter smarter: please <a href="/help">contact the Planning Department</a>, and they&rsquo;ll help you -- and OpenCounter! -- figure out which type of use permit you need. Thank you for helping out the next person!</p>
          <% if (answers.required_permit.notes) { %><p>Some notes: <%= answers.required_permit.notes %></p><% } %>

        <% } %>

      
      <% } %>
    
    
    <% } %>
    
  <% } %>
  
  <div class="form-actions">
    <p class="next lead">Next: <a href="/requirements/city/business_license">Business License &rarr;</a></p>
  </div>

  </div>

</div>
