<div class="page-header">
  <h1>Sign Permit</h1>
</div>

<div class="row-fluid">

  <p class="lead">Your sign is hugely important for your business and the City wants to make sure that its not only functional, but also fits in with the character and style of your business district. </p>
    
    <p class="lead">Sign Permits cost &#36;259 and will be processed with your planning permit</p>
    
    <p>The rules for signs are found in the City of Santa Cruz&#8217s; <a href="http://www.codepublishing.com/CA/SantaCruz/html/SantaCruz24/SantaCruz2412.html#24.12.300" target="_blank">Municipal Code:</a></p>
    
  
  <h3 class="toggle">Read Santa Cruz Municipal Code 24.12.300 <br>It won&#8217't take long! We&#8217;ll wait; </h3>
  <blockquote class="drawer">
    <ol>
      <li><strong>Intent</strong>: Regulations in this ordinance governing signs (not in public right-of-way) are established in order to: Accommodate the community&#8217;s need to communicate political, civic, public service, religious and other noncommercial messages with a minimum of restraint and to regulate commercial signs; Protect the aesthetic amenities on which the city&#8217;s economy and quality of life depend; Promote traffic safety and minimize structural hazards posed by unsafe signs; Achieve consistency between General Plan goals and regulations dealing with size, location and content of exterior signs. (Ord. 85-05 &#167; 1 (part), 1985)</li>
      <li><strong>Classiciation and Regulation</strong>: The zoning administrator shall designate an appropriate classification from the following categories (Sections 24.12.320 through 24.12.342 inclusive) for each sign. Disputes concerning the proper sign category may be appealed to the zoning board. In calculating the area of signs, only one side of a two sided sign shall be counted if the parallel planes are not more than twenty inches apart. Time and temperature devices are not included in the sign area, but may not exceed twenty percent of the allowed sign area.(Ord. 85-05 &#167; 1 (part), 1985)</li>
      <li>
        <strong>Freestanding Signs Five Feet or Under</strong>:Freestanding signs five feet or less in height shall be permitted in all districts subject to the limitations in this chapter.
        <ol>
          <li>Area. The area of such signs may be one-half square foot per lineal foot of frontage with a maximum area of thirty-two square feet.</li>
          <li>Location. Except for projecting signs, every such sign shall be wholly on the owner&#8217;s property</li>
          <li>Number. There may be no more than one such sign for each frontage. In the case of shopping centers and other multiple occupancies sharing a common frontage, the frontage shall be deemed to be that of the shopping center or commonly used parcel and not the frontages of the individual businesses or occupancies.</li>
        </ol>
      </li>
      <li>
        <strong>Freestanding Signs Over Five Feet</strong>:Freestanding signs over five feet in height shall be permitted only in accordance with the terms of a design permit.
        <ol>
          <li>Area. The maximum area of such signs shall be as indicated on Table 1, Section 24.12.390.</li>
          <li>Height. No such sign shall exceed thirty feet in height.</li>
          <li>Location. Subject to obtaining an encroachment permit, such signs may project over public property, or public vehicular or pedestrian easements or ways a distance determined by the clearance of the bottoms thereof above the level of the sidewalk or grade of the public property immediately below, as set forth in the following table:
              <br />
            <table class="table">
              <tr>
                <td>Clearance</td>
                <td>Maximum Projection</td>
              </tr>
              <tr>
                <td>Less than 8 feet</td>
                <td>Not Permitted</td>
              </tr>
              <tr>
                <td>8-14 feet</td>
                <td>1 foot plus 6 inches for each foot of clearance in excess of 8 feet</td>
              </tr>
              <tr>
                <td>Over 14 feet</td>
                <td>4 feet</td>
              </tr>
            </table>
          </li>
        </ol>
      </li>
      <li>No sign shall project within two feet of the curbline. No sign or sign structure shall project into any public alley whatsoever, below a height of fourteen feet above grade, nor more than six inches when over fourteen feet.</li>
      <li>Number. Subject to the provisions of Section 24.12.334 below, there may be one such sign for each street frontage. In the case of shopping centers and other multiple occupancies having a common frontage, the frontage shall be deemed to be that of the shopping center or commonly used parcel and not the frontage of the individual businesses or occupancies.</li>
      <li>Distance Apart. Where two or more signs are permitted because of multiple frontages (two or more street frontages), such signs shall be at least thirty feet apart.</li>
      <li>Sandwich Board and Movable Freestanding Signs. Sandwich board and movable freestanding signs shall be prohibited. (Ord. 85-05 &#167; 1 (part), 1985).</li>
    </ol>
  </blockquote>
    
  <iframe src="http://pdfmongotest.herokuapp.com/sign-calculator.html" width="450" height="550" frameborder="0"></iframe>
  
  <div class="form-submit">
    <a href="<%= nextRequirementHref %>" class="btn btn-large btn-info"><%= nextRequirementName %> &rarr;</a>
  </div>
</div>