<div class="page-header">
  <h1>About You</h1>
</div>

<div class="row-fluid">
  <div class="span6">
    <!-- <h3>About you, the business&rsquo;s owner</h3> -->


    <div class="" id="sign-up-form">
      <h3>Sign up and you can:</h3>
      <ul>
        <li>Come back and finish your application later.</li>
        <li>Create multiple applications</li>
        <li>Submit to the planning department.</li>
      </ul>
      <div class="control-group">
        <label class="control-label">What is your first name?</label>
        <div class="controls"><input type="text" name="applicant_first_name" placeholder=""></div>
      </div>
      <div class="control-group">
        <label class="control-label">What is your last name?</label>
        <div class="controls"><input type="text" name="applicant_last_name" placeholder=""></div>
      </div>
      <div class="control-group">
        <label class="control-label">What is your email address?</label>
        <div class="controls"><input type="text" name="applicant_email" placeholder=""></div>
      </div>
      <div class="control-group">
        <label class="control-label">What is your phone number?</label>
        <div class="controls"><input type="text" name="applicant_phone" placeholder="(###) ###-####"></div>
      </div>
      <div class="control-group">
        <label class="control-label">Please enter a password</label>
        <div class="controls"><input type="password" name="applicant_password"></div>
      </div>
      <div class="control-group">
        <label class="control-label">Enter your password again</label>
        <div class="controls"><input type="password" name="applicant_password_confirmation"></div>
      </div>
      <button class="btn btn-primary" id="applicant_sign_up">Sign up</button>
    </div>
  </div>


  <div class="span4 ">

    <div class="well" id="login-form">
      <p class="lead">Already have an account?</p>
      <div class="control-group ">
        <label class="control-label">Email</label>
        <div class="controls"><input type="text" name="login_email" class="nosave"/></div>
      </div>  
      <div class="control-group ">    
        <label class="control-label">Password</label>
        <div class="controls"><input type="password" name="login_password" /></div>
      </div>
      <button class="btn btn-success" id="applicant_log_in">Log in</button>
    </div>
    
    <div class="well">
      <p class="next lead">You can also choose to start a new application without creating an account</p>
      <p class="next">Your answers will not be saved until you log in or create a new account</p>
      <!-- <p class="next">You will need to tell us your name, email address and phone number before submitting to planning</p> -->
      <p class="next lead"><a class="submit" href="/info/business">Tell us about <% if (answers.is_owner === "true") { %>your<% } else { %>the<% } %> business &rarr;</a></p>
    </div>



  </div>

</div>

<!--
if it's the owner,
  owner name = applicant name
  owner address = applicant address
  owner email = applicant email
  owner phone = applicant phone
  agent name = blank
  agent address = blank
  agent email = blank
  agent phone = blank


if it's the agent,
  owner name = owner name
  owner address = owner address
  owner email = owner email
  owner phone = owner phone
  agent name = applicant name
  agent address = applicant address
  agent email = applicant email
  agent phone = applicant phone
-->
