<div class="page-header">
  <h1>Environmental Health &amp; Safety Permits</h1>
</div>

<div class="row-fluid">
  <p>If you sell any kind of food or beverage in the State of California, you must do so in a safe and clean environment. The people that ensure that this happens is the Santa Cruz County Health Services Agency.</p>
  <p>Working in conjunction with the City's Building Division staff, they will make sure that your floors are non-slip, your ingredients are properly stored at the right temperature, and your meals are fully cooked. The rates that they charge for this service vary on the type of business you are and the square footage that you are operating in.</p>
  <p>Your planner will help you with more details about this process, including how the they will check your plans and how you and your employees with register for training to make sure that all food handling is done in a safe and responsible manner.</p>
  <p>The rules for health and safety are called the California Retail Food Code, and you can find them <a href="http://sccounty01.co.santa-cruz.ca.us/eh/consumer_protection/CRFC.pdf">online here</a>.
  <p><a href="https://www.ansica.org/wwwversion2/outside/ALLdirectoryListing.asp?menuID=212&prgID=228&status=4">Food Handler Training Information</a></p>

  <form>
  
    <div class="control-group">
      <label class="control-label">Type of Application (new, renewal, etc)</label>
      <div class="controls"><input type="text" name="ehs_type_of_application" placeholder="new, renewal, etc" value="<%= answers.ehs_type_of_application %>"></div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Type of Food Service</label>
      <div class="controls"><input type="text" name="ehs_type_of_food_service" placeholder="" value="<%= answers.ehs_type_of_food_service %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Applicant First Name</label>
      <div class="controls"><input type="text" name="applicant_first_name" placeholder="" value="<%= answers.applicant_first_name %>"></div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Applicant Last Name</label>
      <div class="controls"><input type="text" name="applicant_last_name" placeholder="" value="<%= answers.applicant_last_name %>"></div>
    </div>  
  
    <div class="control-group">
      <label class="control-label">Business Name</label>
      <div class="controls"><input type="text" name="ehs_business_name" placeholder="" value="<%= answers._business_name %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Business Address</label>
      <div class="controls"><input type="text" name="business_mailing_address_street" placeholder="" value="<%= answers.business_mailing_address_street %>"></div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Suite or Office Number</label>
      <div class="controls"><input type="text" name="business_physical_address_detail" placeholder="" value="<%= answers.business_physical_address_detail %>"></div>
    </div>
 
    <div class="control-group">
      <label class="control-label">City</label>
      <div class="controls"><input type="text" name="business_physical_address_city" placeholder="" value="<%= answers.business_physical_address_city %>"></div>
    </div>    

    <div class="control-group">
      <label class="control-label">State</label>
      <div class="controls"><input type="text" name="business_physical_address_state" placeholder="" value="<%= answers.business_physical_address_state %>"></div>
    </div>    
    
    <div class="control-group">
      <label class="control-label">ZIP</label>
      <div class="controls"><input type="text" name="business_physical_address_zip" placeholder="" value="<%= answers.business_physical_address_zip %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Applicant Email</label>
      <div class="controls"><input type="text" name="applicant_email" placeholder="" value="<%= answers.applicant_email %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Business Phone #</label>
      <div class="controls"><input type="text" name="business_phone" placeholder="" value="<%= answers.business_phone %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Other Phone #</label>
      <div class="controls"><input type="text" name="other_phone" placeholder="" value="<%= answers.other_phone %>"></div>
    </div>

    <div class="control-group">
      <label class="control-label">Previous Business Name</label>
      <div class="controls"><input type="text" name="previous_business_name" placeholder="" value="<%= answers.previous_business_name %>"></div>
    </div>

  </form>
  <div class="form-submit">
    <a href="<%= nextRequirementHref %>" class="btn btn-large btn-info"><%= nextRequirementName %> &rarr;</a>
  </div>
</div>


