<div class="page-header">
  <h1>Payroll Tax</h1>
</div>

<div class="row-fluid">
  <p class="lead">You&rsquo;ve told us that your business<% if (answers.business_name) { %>, <strong><%= answers.business_name %></strong>,<% } %> is structured as a <%= answers.business_structure %>. It's likely that you&rsquo;ll have employees. As such, you'll need to register with the State of California for Payroll Tax. </p>
  
  <p>The State has information about how has to pay this tax on their website <a href="http://www.edd.ca.gov/payroll_taxes/Am_I_Required_to_Register_as_an_Employer.htm" target="_blank">here</a>.</p>
  <p>In their words, "generally, a business becomes subject to State payroll taxes upon paying wages over $100 in a calendar quarter to one or more employees. Wages consist of compensation for services performed, including cash payments, commissions, bonuses, and the reasonable cash value of noncash payments (like meals and lodging) for services. Once subject, an employer must complete and submit a registration form to EDD within 15 days." </p>
  
<h4> How to Register</h4>

<p>We&rsquo;re sorry, but due to the comlexity of this matter, OpenCounter doesn&rsquo;t automatically select the proper form for you at the state. We hope to add this feature eventually, for now, we&rsquo;re linking to the State's forms.</p>

        <ul>
            <li>Commercial Employers, Pacific Maritime, and Fishing Boats (<a href="http://www.edd.ca.gov/pdf_pub_ctr/de1.pdf">DE 1</a>) </li>
                        <li>Agricultural (<a href="http://www.edd.ca.gov/pdf_pub_ctr/de1ag.pdf">DE 1AG</a>) </li>
                        <li>Governmental Organizations, Public Schools, &amp; Indian Tribes (<a href="http://www.edd.ca.gov/pdf_pub_ctr/de1gs.pdf">DE 1GS</a>)</li> 
                        <li>Nonprofit Employers (<a href="http://www.edd.ca.gov/pdf_pub_ctr/de1np.pdf">DE 1NP</a>)</li> 
                        <li>Personal Income Tax Withholding Only (<a href="http://www.edd.ca.gov/pdf_pub_ctr/de1p.pdf">DE 1P</a>)</li> 
                        <li>Employer of Household Workers (<a href="http://www.edd.ca.gov/pdf_pub_ctr/de1hw.pdf">DE1HW</a>)</li> 
                    </ul>
 
<p>You can also register by telephone by calling the EDD Tele-Reg service at (916) 654-8706. Please make sure to have a completed a registration form when you call. You will receive your EDD employer account number over the telephone and your new employer packet by mail.</p>

<p>Alternately, you can visit the closest Employee Development Department office. <a href="http://www.edd.ca.gov/Office_Locator/" target="_blank">Here</a> is the Office locator tool. </p>

</div>