<div id="intro">
  <h1>Welcome</h1>
  <p>Starting a business? We&rsquo;re here to help.</p>
  <p>This website will guide you through the business permitting process in Santa Cruz, CA.</p>
  <p>You&rsquo;ll learn what regulations and fees apply to your business, and we&rsquo;ll help you get started on &mdash; or, in some cases, complete! &mdash; the paperwork you&rsquo;ll need to file to open your doors.</p>
  <p class="next">Let&rsquo;s begin by learning about <a href="#intro_big_picture">the big picture &rarr;</a></p>
</div><!-- /#intro -->
