<div id="location">
  <h1>[if owner]Your[else]the[if] business&rsquo;s location</h1>
  <h3>Where will [if owner]your[else]this[/if] business operate from?</h3>
  <p class="next"><a href="#location_home_occ" data-occupancy="home" data-zoning-status="home">[if owner]I'll[else][applicant_name]'ll[/if] be working from home &rarr;</a></p>
  <p class="next"><a href="#location_non_home_occ" data-occupancy="non-home" data-zoning-status="">[if owner]I'll[else][applicant_name]'ll[/if] be working out of a commercial space &rarr;</a></p>
</div><!-- /#location -->
