<div id="summary">
  <h1>Summary</h1>
  <p>Thank you for answering all of our questions.</p>
  <p>Based on what you&rsquo;ve told us, we believe [if owner]your[else]this[/if] business needs to complete the following paperwork:</p>

  <h3>Overview</h3>
  <div class="statistics">
    Total forms: 5
    Total fees: $523.35
  </div>
  
  <h3>Breakdown</h3>
  <table>
    <tr>
      <th>You need to do this</th>
      <th>Because</th>
      <th>It'll cost you</th>
      <th>Here's how</th>
    </tr>
    <tr>
      <td>Register as the <strong>Owner Agent</strong>.</td>
      <td>You&rsquo;ve said that you are completing this application on [owner_name]'s behalf. In order for the City of Santa Cruz to issue business-related permits to you, [owner_name] must give their written approval. This document serves as the City's authorization to issue permits to you.</td>
      <td>$0 <a href="#">Explanation</a></td>
      <td>
        <ol>
          <li>Download and print the <a href="#">owner agent form</a></li>
          <li>Fill it out with the <a href="#">information you provided</a>.</li>
          <li>Notarize it.</li>
          <li>Submit it to the Planning Department.</li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>Get a <strong>Zoning Clearance</strong>.</td>
      <td>
        You&rsquo;ve said that you are working from home and that your business complies with the restrictions on work-from-home businesses, so you will need a zoning clearance rather than a use permit. -- OR --
        You&rsquo;ve said that the business is a [business_type] and you want to site it at [business_physical_address], which is zoned [zoning]. This is a principally permitted use, so you will need a zoning clearance rather than a use permit.
      </td>
      <td>$221 <a href="#">Explanation</a></td>
      <td>
        <ol>
          <li>Download and print the <a href="#">zoning clearance form</a>.</li>
          <li>Fill it out with the <a href="#">information you provided</a>.</li>
          <li>Submit it to the Planning Department.</li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>Get a <strong>Fire Inspection</strong>.</td>
      <td>You've said you're working from home and that your business complies with the restrictions on work-from-home businesses, so you'll need a fire inspection.</td>
      <td>$90 <a href="#">Explanation</a></td>
      <td>
        <ol>
          <li>[How does one arrange a fire inspection?]</li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>Get a <strong>Use Permit</strong>.</td>
      <td>You&rsquo;ve said that the business is a [business_type] and you want to site it at [business_physical_address], which is zoned [zoning]. This is a non-principally permitted use, so you will need a use permit.</td>
      <td>$526.64 <a href="#">Explanation</a></td>
      <td>
        <ol>
          <li>Download and print the <a href="#">use permit</a> form.</li>
          <li>Fill it out with the <a href="#">information you provided</a>.</li>
          <li>Make an appointment with a city planner.</li>
        </ol>
      </td>
    </tr>
  </table>
  
  <div class=""
</div><!-- /#summary -->