/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* === Container ============================== */

hr {
  display: none;
}

.container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* === Header ================================= */

header {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 25%;
  min-width: 240px;
  background: #F00;
}

header h1 {
  margin: 0;
}

/* === Main Navigation ======================== */
.nav-main {
  padding: 0 15px;
}

.nav-main ul {
  list-style: none;
  overflow: auto;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav-main li {
  clear: both;
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
}

/* Link and connecting line */
.nav-main a {
  border-left: 0.5em solid #FFF;
  color: #666;
  display: block;
  margin-left: 1em;
  padding: 0.6em 0 0.6em 2em;
  text-decoration: none;
  text-transform: uppercase;
}

/* Rings */
.nav-main a:before,
.nav-main a:after {
  border-width: 0.5em;
  border-radius: 50%;
  content: "";
  display: block;
  float: left;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* Outer ring positioning & dimensions */
.nav-main a:before {
  height: 2em;
  left: 0.25em;
  margin-top: -1em;
  position: absolute;
  top: 50%;
  width: 2em;
}

/* Inner ring positioning & dimensions */
.nav-main a:after {
  height: 1em;
  left: 0.75em;
  margin-top: -0.5em;
  position: absolute;
  top: 50%;
  width: 1em;
}

/* Hover state */
.nav-main a:hover:after {
  background-color: rgb(51,182,230);
}

/* Outer ring color */
.nav-main a:before {
  background: #FFF;
}

/* Inner ring color */
.nav-main a:after {
  background-color: #999;
}

/* Inner ring status colors */
.nav-main .current a:after {
  background-color: #33B6E6;
}

.nav-main .complete a:after {
  background-color: #0F0;
}

.nav-main .incomplete a:after {
  background-color: #FF0;
}

/* Sub nav */
.nav-main ul ul a:before {
  background: transparent;
}

/*.nav-main ul ul {
  display: none;
}*/


/* === Utility Navigation ===================== */
.nav-utility {
  background: #0F0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 25%;
  min-width: 240px;
}

/* === Applicant Profile ====================== */
.profile {
  background: #00F;
}

.profile h1 {
  margin: 0;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
}

.profile h1:after {
  display: block;
  content: "&/uarr;";
}

/* === Panel ================================== */

.panel {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 75%;
  min-width: 720px;
  overflow-y: auto;
}

/* === Media Queries ========================== */


@media only screen and (max-width: 959px) {

    /* Linearize */
    .masthead,
    .nav-utility,
    .panel {
      position: relative;
      right: auto;
      left: auto;
      top: auto;
      width: 100%;
    }
}
