/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
  font-family: 'PT Sans', sans-serif;
  background: #DDD;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* === Header ============================= */

.header {
  background: #111;
  color: rgb(51,182,230);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.branding {
  background: rgb(51,182,230);
  color: #FFF;
  float: left;
  width: 15%;
  min-width: 240px;
  margin: 0 0 -16px 5%;
  text-align: center;
  padding: 0 0 8px 0;
}

/* Utility nav */
.utilities {
  list-style: none;
  position: relative;
  overflow: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 50%;
}

.utilities ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: auto;
}

.utilities li {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  position: relative;
  overflow: auto;
}

.utilities a {
  display: block;
  float: left;
  color: rgb(51,182,230);
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0.5em 10px;
  text-decoration: none;
}

.utilities a:hover,
.utilities a.on {
  background: rgb(51,182,230);
  color: #FFF;
}

/* Utility */
.utility {
  background: rgb(51,182,230);
  color: #FFF;
  position: absolute;
  top: 2.2em;
  left: 35%;
  width: 50%;
  
}

#profile div {
}

.utility {
  display: none;
}

/* === Main Content Area ================== */

.main {
  position: absolute;
  width: 50%;
  left: 35%;
  top: 2em;
}

/* Panel */
.panel {
  position: relative;
  padding: 1em;
  margin: 3em 0;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.panel:before,
.panel:after {
  content:"";
  position:absolute;
  z-index:-2;
}

.panel:before {
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

label {
  display: block;
  margin: 1em 0;
}

label span {
  display: block;
}

.tool {
  background: #EEE;
  border: 5px solid #DDD;
  padding: 1em 20px;
}

/* Widgets */
.toggle:before {
  display: block;
  content: "\2192";
  float: left;
}

.next {
  background:#DDEEFF;
  border: 1px solid #CCC;
  display: block;
  font-weight: bold;
  padding: 0.5em 10px;
}

blockquote {
  color: #666;
  font-style: italic;
}

ol li {
  padding-bottom: 1em;
}

ol li:last-child {
  padding-bottom: 0;
}

/* === Navigation ========================= */

.progress-nav {
  display: block;
  min-width: 240px;
  position: fixed;
  height: 100%;
  left: 5%;
  top: 72px;
  width: 15%;
}

.progress-nav ul {
  list-style: none;
  overflow: auto;
  margin: 0;
  padding: 0;
  position: relative;
}

.progress-nav li {
  clear: both;
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
}

/* Link and connecting line */
.progress-nav a {
  border-left: 0.5em solid #FFF;
  color: #666;
  display: block;
  margin-left: 1em;
  padding: 0.5em 0 0.5em 2em;
  text-decoration: none;
  text-transform: uppercase;
}



/* Rings */
.progress-nav a:before,
.progress-nav a:after {
  border-width: 0.5em;
  border-radius: 50%;
  content: "";
  display: block;
  float: left;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* Outer ring positioning & dimensions */
.progress-nav a:before {
  height: 2em;
  left: 0.25em;
  margin-top: -1em;
  position: absolute;
  top: 50%;
  width: 2em;
}

/* Inner ring positioning & dimensions */
.progress-nav a:after {
  height: 1em;
  left: 0.75em;
  margin-top: -0.5em;
  position: absolute;
  top: 50%;
  width: 1em;
}

/* Hover state */
.progress-nav a:hover:after {
  background-color: rgb(51,182,230);
}

/* Outer ring color */
.progress-nav a:before {
  background: #FFF;
}

/* Inner ring color */
.progress-nav a:after {
  background-color: #999;
}

/* Inner ring status colors */
.progress-nav .current a:after {
  background-color: #33B6E6;
}

.progress-nav .complete a:after {
  background-color: #0F0;
}

.progress-nav .incomplete a:after {
  background-color: #FF0;
}

/* Sub nav */
.progress-nav ul ul a:before {
  background: transparent;
}

/* Utility */
    
