/* === Header =============================================================== */

header {
  padding: 1em 0 0 0;
  background: #FFF;
  font-family: 'Oswald', sans-serif;
}

#profile,
#help {
  font-size: 18px;
  text-align: center;
}

#profile .well,
#help .well {
}

#profile a,
#help a {
  display: block;
  margin-top: 9px;
}

#profile p,
#help p {
  margin-bottom: 0;
}

/* Branding */

#branding .logo {
  display: inline-block;
  width: 209px;
  height: 38px;
  background: transparent url(/assets/opencounter_logo.png);
  text-indent: -99em;
  margin-bottom: 0;
}

#branding .tagline {
  font-size: 18px;
}

#branding .city {
  border-bottom: 1px dotted #CCC;
}



/* === Main Navigation ====================================================== */

#nav-main {
  background: #8BC8DE;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

#nav-main ul {
  margin: 0;
  position: relative;
  overflow: hidden;
}

#nav-main li,
#nav-main a {
  position: relative;
  display: block;
  float: left;
}

#nav-main a {
  background: transparent url(/assets/assets-nav.png) right -48px;
  color: #FFF;
  font-size: 24px;
  line-height: 24px;
  padding: 12px 54px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: -36px;
  text-decoration: none;
}

#nav-main li:last-child a {
  margin-right: 0;
  background-position: left -48px;
  border-right: 24px solid #8BC8DE;
}

#nav-main .nav-start        { z-index: 5; }
#nav-main .nav-business     { z-index: 4; }
#nav-main .nav-location     { z-index: 3; }
#nav-main .nav-requirements { z-index: 2; }
#nav-main .nav-summary      { z-index: 1; }

#nav-main a:hover,
#nav-main a:active,
#nav-main .current a {
  background-position: right top;
}


/* === Sidebar Navigation =================================================== */

.subnav {
  margin: 20px 0;
}

/* === Footer =============================================================== */

/* sticky footer is sticky */
html,
body {
  height: 100%;
}

#main {
  min-height: 100%;
  position: relative;
}

.wrapper {
  padding-bottom: 60px; /* the bottom margin is the negative value of the footer's height */
}

footer {
  border-top: 1px solid #CCC;
  color: #999;
  padding: 1em 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}



/*

header

  header profile

<p><a href="">Welcome back, [name]. Pick up where you left off.</a></p>

<p><a href="/intro">First time here? Get started.</a></p>
<p><a href="#">Returning? Pick up where you left off.</a></p>

  header help

  header branding

    header branding logo
    header branding tagline
  

nav

  get started
  you
  your business
  your location
  details
  summary

subnav

content

footer

  footer links
  
  */