/* === Header =============================================================== */

header {
  padding: 1em 0 0 0;
  background: #FFF;
  font-family: 'Oswald', sans-serif;
}

#profile,
#help {
  font-size: 18px;
  text-align: center;
}

#profile a,
#help a {
  display: block;
  margin-top: 9px;
  text-transform: uppercase;
}

#profile p,
#help p {
  margin-bottom: 0;
}

/* Branding */

#branding .logo,
#branding .tagline {
  margin-left: 54px;
}


#branding .logo {
  display: inline-block;
  width: 209px;
  height: 38px;
  background: transparent url(/assets/opencounter_logo.png);
  text-indent: -99em;
  margin-bottom: 0;
}

#branding .tagline {
  font-size: 18px;
}

#branding .city {
  border-bottom: 1px dotted #CCC;
}

/* === Main Navigation ====================================================== */

#nav-main {
  background: #8BC8DE;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

#nav-main ul {
  margin: 0;
  overflow: hidden;
  position: relative;
}

#nav-main li,
#nav-main a {
  display: block;
  float: left;
  position: relative;
}

#nav-main a {
  background: transparent url(/assets/assets-nav.png) no-repeat right -48px;
  color: #FFF;
  font-size: 20px;
  line-height: 24px;
  margin-right: -36px;
  padding: 12px 54px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

#nav-main li:last-child a {
  background-position: left -48px;
  border-right: 24px solid #8BC8DE;
  margin-right: 0;
}

#nav-main .nav-start        { z-index: 5; }
#nav-main .nav-business     { z-index: 4; }
#nav-main .nav-location     { z-index: 3; }
#nav-main .nav-requirements { z-index: 2; }
#nav-main .nav-summary      { z-index: 1; }

#nav-main a:hover,
#nav-main a:active,
#nav-main .current a {
  background-position: right top !important;
}

@media (max-width: 1048px) {
  #nav-main a {
    padding: 12px 28px 12px 42px;
  }
}

@media (max-width: 840px) {
  #nav-main {
    background: transparent;
  }

  #nav-main li,
  #nav-main a {
    float: none;
  }
  #nav-main a {
    margin-right: 0;
    border-bottom: 3px solid #FFF;
  }
  #nav-main li:last-child a {
    background-position: right -48px;
    border-right: 0;
  }
}

/* === Sidebar Navigation =================================================== */

.subnav {
  margin: 20px 0;
}

.subnav a.current {
  background: #1791BE;
  color: #FFF;
}

.subnav a.current:hover,
.subnav a.current:active {
  background: #1791BE;
  color: #FFF;
}


/* === Footer =============================================================== */

/* sticky footer is sticky */
html,
body {
  height: 100%;
}

#main {
  min-height: 100%;
  position: relative;
}

.wrapper {
  padding-bottom: 60px; /* the bottom margin is the negative value of the footer's height */
}

footer {
  border-top: 1px solid #CCC;
  color: #999;
  padding: 1em 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

footer p {
  margin: 0 5%;
}

.form-actions {
  border: 1px solid #DDD;
  padding-left: 5%;
  background: #daeef5;
  border-width:0 0 0 1px;
  padding-bottom: 0;
}

.form-actions a {
  font-weight: bold;
}

/* === Toggle Styles ======================================================== */

.toggle {
  cursor: pointer;
  border: 1px solid transparent;
}

.toggle:hover {
  background-color: whiteSmoke;
  border: 1px solid #E3E3E3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


/* === Summary ============================================================== */

.task {
  margin-bottom: 1em;
}


.task-count {
  background: #333;
  border-radius: 50%;
  padding: 0.1em 0.5em;
  margin-right: 0.25em;
  color: #FFF;
}

.task-title {
  border-bottom: 5px solid #333;
}

.task-steps {
  border-top: 1px dotted #CCC;
}

.task-steps h4 {
  padding: 0.5em 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.task-instructions ol,
.task-information dl {
  margin-top: 0;
  padding-top: 1em;
}

.task-instructions h4,
.task-instructions ol {
  border-right: 1px dotted #CCC;
  padding-right: 10px;
}


/*

header

  header profile

  header help

  header branding

    header branding logo
    header branding tagline
  

nav

  get started
  you
  your business
  your location
  details
  summary

subnav

content

footer

  footer links
  
  */