        <ul>
          <li><a href="/intro">Welcome</a></li>
          <li>
            <ul>
              <li><a href="/intro_big_picture">The Big Picture</a></li>
              <li><a href="/intro_here_to_help">We're Here To Help</a></li>
            </ul>
          </li>
          <li><a href="/info">You &amp; Your Business</a></li>
          <li>
            <ul>
              <li><a href="/info_applicant">About You</a></li></li>
              <li><a href="/info_business">About Your Business</a></li>
            </ul>
          </li>
          <li><a href="/location">Location</a></li>
          <li>
            <ul>
              <li><a href="/location_home_occ">Work From Home</a></li>
              <li><a href="/location_non_home_occ">Choose Your Site</a></li>
            </ul>
          </li>
          <li><a href="/requirements">Requirements</a></li>
          <li>
            <ul>
              <li><a href="/requirement_use_permit">Use Permits</a></li>
              <li><a href="/requirement_parking">Parking</a></li>
              <li><a href="/requirement_building_permit">Building Permit</a></li>
              <li><a href="/requirement_business_license">Business License</a></li>
              <li><a href="/requirement_tif">Traffic Impact Fee</a></li>
              <li><a href="/requirement_bia">Business Improvement District Assessment</a></li>
              <li><a href="/requirement_ehs">Environmental Health &amp; Safety</a></li>
              <li><a href="/requirement_wwd">Waste Water Discharge</a></li>
              <li><a href="/requirement_utility_services">Utility Services</a></li>
            </ul>
          </li>
          <li><a href="/summary">Summary &amp; Next Steps</a></li>
        </ul>
