<div class="utility" id="profile">

    <h3>Your Saved Info</h3>
    <p>Here's what you've told us so far.</p>

    <dl class="complete">
      <dt>Your Name</dt>
      <dd>[applicant_fname] [applicant_lname] <a href="#">Change this &rarr;</a></dd>
    </dl>
    <dl class="partial">
      <dt>Your Name</dt>
      <dd>Your first name is [applicant_fname]. <a href="#">Tell us your last name &rarr;</a></dd>
      <dd>Your last name is [applicant_lname]. <a href="#">Tell us your first name &rarr;</a></dd>
    </dl>
    <dl class="empty">
      <dt>Your Name</dt>
      <dd>You haven't told us your name yet. <a href="#">Fill this out &rarr;</a></dd>
    </dl>

    <dl class="complete">
      <dt>Your Email</dt>
      <dd class="complete">[applicant_email] <a href="#">Change this &rarr;</a></dd>
    </dl>
    <dl class="empty">
      <dt>Your Email</dt>
      <dd class="empty">You haven't told us your email address yet. <a href="#">Fill this out &rarr;</a></dd>
    </dl>

    <dl class="complete">
      <dt>Your Home Address</dt>
      <dd>[applicant_home_address_street], [applicant_home_address_details], [applicant_home_address_city], [applicant_home_address_state] [applicant_home_address_zip] <a href="#">Change this &rarr;</a></dd>
    </dl>
    <dl class="complete">
      <dt>Your Home Address</dt>
      <dd>[applicant_home_address_street], [applicant_home_address_city], [applicant_home_address_state] [applicant_home_address_zip] <a href="#">Change this &rarr;</a></dd>
    </dl>
    <dl class="partial">
      <dt>Your Home Address</dt>
      <dd>[applicant_home_address_street] <a href="#">Complete this &rarr;</a></dd>
    </dl>
    <dl class="empty">
      <dt>Your Home Address</dt>
      <dd>You haven't told us your home address yet. <a href="#">Fill this out &rarr;</a></dd>
    </dl>

    <dl class="complete">
      <dt>Business Name</dt>
      <dd>[business_name] <a href="#">Change this &rarr;</a></dd>
    </dl>
    <dl class="empty">
      <dt>Business Name</dt>
      <dd>You haven't told us your business name yet. <a href="#">Fill this out &rarr;</a></dd>
    </dl>

    <dl class="complete">
      <dt>Business Type</dt>
      <dd>[business_type] <a href="#">Change this &rarr;</a></dd>
    </dl>
    <dl class="empty">
      <dt>Business Type</dt>
      <dd>You haven't told us your business type. <a href="#">Fill this out &rarr;</a></dd>
    </dl>

    <dl class="complete">
      <dt>Business Structure</dt>
      <dd>[business_structure] <a href="#">Change this &rarr;</a></dd>
    </dl>
    <dl class="empty">
      <dt>Business Structure</dt>
      <dd>You haven't told us your business's legal structure yet. <a href="#">Fill this out &rarr;</a></dd>
    </dl>

    <dl class="complete">
      <dt>Ownership</dt>
      <dd>You are the sole owner of this business. <a href="#">Change this &rarr;</a></dd>
    </dl>
    <dl class="complete">
      <dt>Ownership</dt>
      <dd>Apart from you, the following people are involved in this business:
        [coowner_#_fname] [coowner_#_lname] ([coowner_#_role]),
        [coowner_#_fname] [coowner_#_lname] ([coowner_#_role]) <a href="#">Change this &rarr;</a>
      </dd>
    </dl>
    <dl class="partial">
      <dt>Ownership</dt>
      <dd>You've told us you have co-owners, but haven't told us who they are. <a href="#">Fill this out &rarr;</a></dd>
    </dl>
    <dl class="empty">
      <dt>Ownership</dt>
      <dd>You haven't told us whether you have co-owners. <a href="#">Fill this out &rarr;</a></dd>
    </dl>

    <dl class="complete">
      <dt>Business Location</dt>
      <dd>You'll be working from home. <a href="#">Fill this out &rarr;</a></dd>
    </dl>
    <dl class="complete">
      <dt>Business Location</dt>
      <dd>You'll be working from [business_location_street], [business_location_detail], [business_location_city], [business_location_state] [business_location_zip]. <a href="#">Fill this out &rarr;</a></dd>
    </dl>
    <dl class="partial">
      <dt>Business Location</dt>
      <dd>You aren't working from home, but haven't told us your business's location yet. <a href="#">Fill this out &rarr;</a></dd>
    </dl>
    <dl class="empty">
      <dt>Business Location</dt>
      <dd>You haven't told us your business's location yet. <a href="#">Fill this out &rarr;</a></dd>
    </dl>


      </div>
      <div>
        <h3>Forms &amp; Fees</h3>
        <p>Based on what you've told us so far, we estimate that starting your business will cost <span>$13,543.54</span> (see breakdown)</p>
        <p>Based on what you've told us so far, we think you'll need to complete and submit the following forms:</p>
        <ul>
          <li><a href="">Form 1</a></li>
          <li><a href="">Form 2</a></li>
          <li><a href="">Form 3</a></li>
        </ul>
      </div>
      <div>
        <h3>Next Steps</h3>
        <ol>
          <li>Download, complete, and submit Form 1.</li>
          <li>Download, complete, and submit Form 2.</li>
          <li>Make an appointment with the Planning Department.</li>
          <li>...</li>
          <li>Profit.</li>
        </ol>
      </div>
    </div><!-- /#profile -->