<!DOCTYPE html>

<html>

<head>
  <title>OpenCounter</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="header">
  
    <h1 class="branding">OpenCounter</h1>
    
    <ul class="utilities">
      <li><a class="profile-link"  href="#profile">Your Saved Info &darr;</a></li>
      <li><a class="contact-link"  href="#contact">Contact Us</a></li>
      <li><a class="feedback-link" href="#feedback">Feedback</a></li>
      <li><a class="credits-link"  href="#credits">Credits</a></li>
    </ul>
    
    <div class="utility" id="contact">
      
    </div><!-- /#contact -->
    
    <div class="utility" id="feedback">
      <h3>Give us some feedback</h3>
      <p>If you have a moment, we would love to get your thoughts on this site.</p>
      <form method="post" action="#">
        <label>
          How well did we do at answering your questions?
          <select name="mood">
            <option value="happy">Happy &#9786;</option>
            <option value="neutral">Neutral</option>
            <option value="unhappy">Unhappy &#9785;</option>
          </select>
        </label>
        <label>
          What could we have done better?
          <textarea name="suggestions"></textarea>
        </label>
        <label>
          Want us to follow up with you? Enter your email address here:
          <input type="text" name="email" placeholder="you@email.com">
        </label>
        <p class="next"><button>Submit</button></p>
      </form>
    </div><!-- /#feedback -->
    
    <div class="utility" id="credits">
      <h3>Credits</h3>
      <p>A collaboration between the <a href="#">City of Santa Cruz, CA</a> and <a href="#">Code for America</a>.</p>
    </div><!-- /#credits -->

  </div><!-- /.header -->

  <div class="progress-nav">
    <ul>
      <li><a href="#intro">Welcome</a></li>
      <li>
        <ul>
          <li><a href="#intro_big_picture">The Big Picture</a></li>
          <li><a href="#intro_here_to_help">We're Here To Help</a></li>
        </ul>
      </li>
      <li><a href="#info">You &amp; Your Business</a></li>
      <li>
        <ul>
          <li><a href="#info_applicant">About You</a></li></li>
          <li><a href="#info_business">About Your Business</a></li>
        </ul>
      </li>
      <li><a href="#location">Location</a></li>
      <li>
        <ul>
          <li><a href="#location_home_occ">Work From Home</a></li>
          <li><a href="#location_non_home_occ">Choose a Site</a></li>
          <li><a href="#location_reqs_business_type">Requirements based on your business type</a></li>
          <li><a href="#location_reqs_location">Requirements based on your location</a></li>
        </ul>
      </li>
      <li><a href="#helpers">Permits</a></li>
      <li>
        <ul>
          <li><a href="#helper_use_permit">Use Permit</a></li>
          <li><a href="#helper_building_permit">Building Permit</a></li>
          <li><a href="#helper_business_license">Business License</a></li>
          <li><a href="#helper_resellers_license">Reseller's License</a></li>
          <li><a href="#non_city_regulations">Non-City-Issued Permits &amp; Licenses</a></li>
        </ul>
      </li>
      <li><a href="#summary">Summary &amp; Downloads</a></li>
    </ul>
  </div>

  <div class="main">


<%= yield %>

</body>
</html>
