<!DOCTYPE html>

<html>

<head>
  <title>OpenCounter</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
  
    <h1 class="branding">OpenCounter</h1>
    
    <ul class="utilities">
      <li><a class="profile-link"  href="#profile">Your Saved Info &darr;</a></li>
      <li><a class="contact-link"  href="#contact">Contact Us</a></li>
      <li><a class="feedback-link" href="#feedback">Feedback</a></li>
      <li><a class="credits-link"  href="#credits">Credits</a></li>
    </ul>
    
    <!-- ##CONTACT (views/utilities/_contact.html.erb and views/utilities/_contact_thanks.html.erb) -->
    
    <!-- ##FEEDBACK (views/utilities/_feedback.html.erb and views/utilities/_feedback_thanks.html.erb) -->
    
    <!-- ##CREDITS (views/utilities/_credits.html.erb) -->

  </div><!-- /.header -->

  <!-- ##NAV (views/layouts/_nav.html.erb) -->

  <div class="main">

<%= yield %>

  </div><!-- /.main -->

</body>

</html>
