<!DOCTYPE html>

<html>

<head>
  <title>OpenCounter</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="header">
  
    <h1 class="branding">OpenCounter</h1>
    
    <ul class="utilities">
      <li><a class="profile-link"  href="#profile">Your Saved Info &darr;</a></li>
      <li><a class="contact-link"  href="#contact">Contact Us</a></li>
      <li><a class="feedback-link" href="#feedback">Feedback</a></li>
      <li><a class="credits-link"  href="#credits">Credits</a></li>
    </ul>
    
    <div class="utility" id="profile">
      <div>
        <h3>Your Saved Info</h3>
        <p>Here's what you've told us so far.</p>
        <dl class="complete">
          <dt>Your Name</dt>
          <dd>[applicant_fname] [applicant_lname] <a href="#">Change this &rarr;</a></dd>
        </dl>
        <dl class="partial">
          <dt>Your Name</dt>
          <dd>Your first name is [applicant_fname]. <a href="#">Tell us your last name &rarr;</a></dd>
          <dd>Your last name is [applicant_lname]. <a href="#">Tell us your first name &rarr;</a></dd>
        </dl>
        <dl class="empty">
          <dt>Your Name</dt>
          <dd>You haven't told us your name yet. <a href="#">Fill this out &rarr;</a></dd>
        </dl>
        
        <dl class="complete">
          <dt>Your Email</dt>
          <dd class="complete">[applicant_email] <a href="#">Change this &rarr;</a></dd>
        </dl>
        <dl class="empty">
          <dt>Your Email</dt>
          <dd class="empty">You haven't told us your email address yet. <a href="#">Fill this out &rarr;</a></dd>
        </dl>

        <dl class="complete">
          <dt>Ownership</dt>
          <dd>You are the sole owner of this business. <a href="#">Change this &rarr;</a></dd>
        </dl>
        <dl class="complete">
          <dt>Ownership</dt>
          <dd>Apart from you, the following people are involved in this business:
            [coowner_#_fname] [coowner_#_lname] ([coowner_#_role]),
            [coowner_#_fname] [coowner_#_lname] ([coowner_#_role]) <a href="#">Change this &rarr;</a>
          </dd>
        </dl>
        <dl class="partial">
          <dt>Ownership</dt>
          <dd>You've told us you have co-owners, but haven't told us who they are. <a href="#">Fill this out &rarr;</a></dd>
        </dl>
        <dl class="empty">
          <dt>Ownership</dt>
          <dd>You haven't told us whether you have co-owners. <a href="#">Fill this out &rarr;</a></dd>
        </dl>

        <dl class="complete">
          <dt>Your Home Address</dt>
          <dd>[applicant_home_address_street], [applicant_home_address_details], [applicant_home_address_city], [applicant_home_address_state] [applicant_home_address_zip] <a href="#">Change this &rarr;</a></dd>
        </dl>
        <dl class="complete">
          <dt>Your Home Address</dt>
          <dd>[applicant_home_address_street], [applicant_home_address_city], [applicant_home_address_state] [applicant_home_address_zip] <a href="#">Change this &rarr;</a></dd>
        </dl>
        <dl class="partial">
          <dt>Your Home Address</dt>
          <dd>[applicant_home_address_street] <a href="#">Complete this &rarr;</a></dd>
        </dl>
        <dl class="empty">
          <dt>Your Home Address</dt>
          <dd>You haven't told us your home address yet. <a href="#">Fill this out &rarr;</a></dd>
        </dl>

        <dl class="complete">
          <dt>Business Name</dt>
          <dd>[business_name] <a href="#">Change this &rarr;</a></dd>
        </dl>
        <dl class="empty">
          <dt>Business Name</dt>
          <dd>You haven't told us your business name yet. <a href="#">Fill this out &rarr;</a></dd>
        </dl>

        <dl class="complete">
          <dt>Business Type</dt>
          <dd>[business_type] <a href="#">Change this &rarr;</a></dd>
        </dl>
        <dl class="empty">
          <dt>Business</dt>
          <dd></dd>
        </dl>

        <dl class="complete">
          <dt></dt>
          <dd></dd>
        </dl>
        <dl class="partial">
          <dt></dt>
          <dd></dd>
        </dl>
        <dl class="empty">
          <dt></dt>
          <dd></dd>
        </dl>

        <dl class="complete">
          <dt></dt>
          <dd></dd>
        </dl>
        <dl class="partial">
          <dt></dt>
          <dd></dd>
        </dl>
        <dl class="empty">
          <dt></dt>
          <dd></dd>
        </dl>

        <dl class="complete">
          <dt></dt>
          <dd></dd>
        </dl>
        <dl class="partial">
          <dt></dt>
          <dd></dd>
        </dl>
        <dl class="empty">
          <dt></dt>
          <dd></dd>
        </dl>

        <dl class="complete">
          <dt></dt>
          <dd></dd>
        </dl>
        <dl class="partial">
          <dt></dt>
          <dd></dd>
        </dl>
        <dl class="empty">
          <dt></dt>
          <dd></dd>
        </dl>

        <dl class="complete">
          <dt></dt>
          <dd></dd>
        </dl>
        <dl class="partial">
          <dt></dt>
          <dd></dd>
        </dl>
        <dl class="empty">
          <dt></dt>
          <dd></dd>
        </dl>


    
    <label>
      What will your business do?
      <input type="text" name="business_type" placeholder="SIC/NAICS tool here, with freeform entry">
    </label>
    <iframe src="http://pdfmongotest.herokuapp.com/calgold?kywd=search" width="450" height="200"></iframe>
    <p>(Not sure of your business type? Not finding your business type listed? Simply enter the words "General Business Information" above, or select it from the list.)</p>
    
    <label>
      What is your business's legal structure?
      <select name="business_structure">
        <option value="unknown">I'm not sure / don't know / haven't decided yet</option>
        <option value="individual">an Individual (Sole Proprietorship)</option>
        <option value="gp">a General Partnership</option>
        <option value="limited-partnership">a Limited Partnership</option>
        <option value="llc">a Limited Liability Company (LLC)</option>
        <option value="association">an Unincorporated Association other than a Partnership</option>
        <option value="corp">a Corporation</option>
        <option value="trust">a Trust</option>
        <option value="copartner">Copartners</option>
        <option value="married">Husband and Wife</option>
        <option value="joint-venture">a Joint Venture</option>
        <option value="domestic-partners">State or Local Registered Domestic Partners</option>
        <option value="llp">a Limited Liability Partnership (LLP)</option>
      </select>
    </label>
    
    <label>
      Where will you be working from?
      <a class="next" href="#location_home_occ">I'll be working from home &rarr;</a>
      <a class="next" href="#location_non_home_occ">My business will be in a space other than my home &rarr;</a>
    </label>


      </div>
      <div>
        <h3>Forms &amp; Fees</h3>
        <p>Based on what you've told us so far, we estimate that starting your business will cost <span>$13,543.54</span> (see breakdown)</p>
        <p>Based on what you've told us so far, we think you'll need to complete and submit the following forms:</p>
        <ul>
          <li><a href="">Form 1</a></li>
          <li><a href="">Form 2</a></li>
          <li><a href="">Form 3</a></li>
        </ul>
      </div>
      <div>
        <h3>Next Steps</h3>
        <ol>
          <li>Download, complete, and submit Form 1.</li>
          <li>Download, complete, and submit Form 2.</li>
          <li>Make an appointment with the Planning Department.</li>
          <li>...</li>
          <li>Profit.</li>
        </ol>
      </div>
    </div><!-- /#profile -->
    
    <div class="utility" id="contact">
      
    </div><!-- /#contact -->
    
    <div class="utility" id="feedback">
      <h3>Give us some feedback</h3>
      <p>If you have a moment, we would love to get your thoughts on this site.</p>
      <form method="post" action="#">
        <label>
          How well did we do at answering your questions?
          <select name="mood">
            <option value="happy">Happy &#9786;</option>
            <option value="neutral">Neutral</option>
            <option value="unhappy">Unhappy &#9785;</option>
          </select>
        </label>
        <label>
          What could we have done better?
          <textarea name="suggestions"></textarea>
        </label>
        <label>
          Want us to follow up with you? Enter your email address here:
          <input type="text" name="email" placeholder="you@email.com">
        </label>
        <p class="next"><button>Submit</button></p>
      </form>
    </div><!-- /#feedback -->
    
    <div class="utility" id="credits">
      <h3>Credits</h3>
      <p>A collaboration between the <a href="#">City of Santa Cruz, CA</a> and <a href="#">Code for America</a>.</p>
    </div><!-- /#credits -->

  </div><!-- /.header -->

  <div class="progress-nav">
    <ul>
      <li><a href="#intro">Welcome</a></li>
      <li>
        <ul>
          <li><a href="#intro_big_picture">The Big Picture</a></li>
          <li><a href="#intro_here_to_help">We're Here To Help</a></li>
        </ul>
      </li>
      <li><a href="#info">You &amp; Your Business</a></li>
      <li>
        <ul>
          <li><a href="#info_applicant">About You</a></li></li>
          <li><a href="#info_business">About Your Business</a></li>
        </ul>
      </li>
      <li><a href="#location">Location</a></li>
      <li>
        <ul>
          <li><a href="#location_home_occ">Work From Home</a></li>
          <li><a href="#location_non_home_occ">Choose a Site</a></li>
          <li><a href="#location_reqs_business_type">Requirements based on your business type</a></li>
          <li><a href="#location_reqs_location">Requirements based on your location</a></li>
        </ul>
      </li>
      <li><a href="#helpers">Permits</a></li>
      <li>
        <ul>
          <li><a href="#helper_use_permit">Use Permit</a></li>
          <li><a href="#helper_building_permit">Building Permit</a></li>
          <li><a href="#helper_business_license">Business License</a></li>
          <li><a href="#helper_resellers_license">Reseller's License</a></li>
          <li><a href="#non_city_regulations">Non-City-Issued Permits &amp; Licenses</a></li>
        </ul>
      </li>
      <li><a href="#summary">Summary &amp; Downloads</a></li>
    </ul>
  </div>

  <div class="main">


<%= yield %>

</body>
</html>
